Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href ./_site

test-docs-crds-regression:
  stage: test
  image: golang
  before_script:
  - cd docs
  - go install fybrik.io/crdoc@latest
  script:
  - crdoc --resources ../theodolite/crd/ --template api-reference/crds.tmpl  --output api-reference/crds.ref.md
  - cmp api-reference/crds.md api-reference/crds.ref.md
  artifacts:
    when: on_failure
    paths:
  ...

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

deploy-theodolite:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
    IMAGE_NAME: theodolite
    DOCKERFILE: src/main/docker/Dockerfile.jvm
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  ...

Move properties to common beam projects
  theodolite-benchmarks/uc1-beam-samza/build.gradle
  theodolite-benchmarks/uc2-beam-flink/build.gradle
  theodolite-benchmarks/uc2-beam-samza/build.gradle
  theodolite-benchmarks/uc2-beam-samza/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc2-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc3-beam-flink/build.gradle
  theodolite-benchmarks/uc3-beam-samza/build.gradle
  theodolite-benchmarks/uc3-beam-samza/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc3-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc4-beam-flink/build.gradle
  theodolite-benchmarks/uc4-beam-samza/build.gradle
  theodolite-benchmarks/uc4-beam-samza/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc4-beam/src/main/resources/META-INF/application.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Install Beam/Flink benchmarks via Helm
  helm/values.yaml
Due: none

Migrate remaining UCs to new Beam service
  theodolite-benchmarks/uc1-beam-flink/src/main/java/application/Uc1BeamFlink.java
  theodolite-benchmarks/uc1-beam-samza/src/main/java/application/Uc1BeamSamza.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc2-beam-flink/src/main/java/application/Uc2BeamFlink.java
  theodolite-benchmarks/uc2-beam-samza/src/main/java/application/Uc2BeamSamza.java
  theodolite-benchmarks/uc2-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/Uc3BeamFlink.java
  theodolite-benchmarks/uc3-beam-samza/src/main/java/application/Uc3BeamSamza.java
  theodolite-benchmarks/uc3-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc4-beam-flink/src/main/java/application/Uc4BeamFlink.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/Uc4BeamSamza.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Added review suggestions
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
Due: test-docs-crds-regression, deploy-theodolite

Align Eclipse settings with other subprojects
  theodolite-benchmarks/hazelcastjet-commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/hazelcastjet-commons/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/hazelcastjet-commons/.settings/qa.eclipse.plugin.pmd.prefs
  theodolite-benchmarks/uc2-hazelcastjet/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc2-hazelcastjet/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/uc2-hazelcastjet/.settings/qa.eclipse.plugin.pmd.prefs
  theodolite-benchmarks/uc3-hazelcastjet/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc3-hazelcastjet/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/uc3-hazelcastjet/.settings/qa.eclipse.plugin.pmd.prefs
  theodolite-benchmarks/uc4-hazelcastjet/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc4-hazelcastjet/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/uc4-hazelcastjet/.settings/qa.eclipse.plugin.pmd.prefs
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix code quality issues
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractBeamService.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipeline.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipelineFactory.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/BeamService.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc2-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc3-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/Uc4BeamSamza.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Added CRDExecution Parsing Test
  docs/api-reference/crds.md
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/test/kotlin/theodolite/model/crd/CRDExecutionTest.kt
Due: build-docs, test-docs-links, deploy-theodolite

Updated Api-reference page according to the execution yaml file
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Add zoo-entrance deployment to Helm
  helm/templates/strimzi/zookeeper-entrance-deployment.yaml
  helm/templates/strimzi/zookeeper-entrance-network.yaml
  helm/templates/strimzi/zookeeper-entrance-service.yaml
  helm/values.yaml
Due: none

Update Samza deployments for Strimzi
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/resources/uc3-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/resources/uc4-beam-samza-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix afterAction for Strimzi Zookeeper
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add Zookeeper client to Helm
  execution/infrastructure/zookeeper-client.yaml
  helm/templates/kafka/kafka-cluster.yaml
  helm/templates/kafka/kafka-exporter-podmonitor.yaml
  helm/templates/kafka/kafka-metrics-configmap.yaml
  helm/templates/kafka/kafka-podmonitor.yaml
  helm/templates/kafka/service-monitor.yaml
  helm/templates/kafka/zookeeper-client.yaml
  helm/templates/kafka/zookeeper-entrance-deployment.yaml
  helm/templates/kafka/zookeeper-entrance-network.yaml
  helm/templates/kafka/zookeeper-entrance-service.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add Zookeeper client to Helm
  helm/values.yaml
Due: none

Update package name reference from Compose files
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Minor code refactorings
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayKey.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayKeyCoder.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/MapTimeFormat.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Register coders before creating pipeline
  theodolite-benchmarks/beam-commons/src/main/java/rocks/theodolite/benchmarks/commons/beam/AbstractPipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Print Docker containers before teardown
  theodolite-benchmarks/docker-test/smoketest-runner.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove unnecessary imports
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/HttpRecordSenderTest.java
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/KeySpaceTest.java
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/LoadGeneratorTargetTest.java
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/TitanRecordGeneratorTest.java
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/WorkloadDefinitionTest.java
  theodolite-benchmarks/uc4-kstreams/src/test/java/rocks/theodolite/benchmarks/uc4/kstreams/OptionalParentsSerdeTest.java
  theodolite-benchmarks/uc4-kstreams/src/test/java/rocks/theodolite/benchmarks/uc4/kstreams/ParentsSerdeTest.java
  theodolite-benchmarks/uc4-kstreams/src/test/java/rocks/theodolite/benchmarks/uc4/kstreams/SensorParentKeySerdeTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix usage of wrong image
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix usage of environment variable in action
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Firestore database name access
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/DocumentMapper.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/FirestoreConfig.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix partition count in dashboard
  helm/templates/grafana/dashboard-config-map.yaml
Due: none

Fix Kafka Exporter reset
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
Due: deploy-theodolite

Try increasing initial sleep
  theodolite-benchmarks/docker-test/smoketest-runner.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Print logs before shut down
  theodolite-benchmarks/docker-test/smoketest-runner.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add debug output
  .gitlab-ci.yml
Due: none

Fix YAML syntax
  .gitlab-ci.yml
Due: none

More debugging
  theodolite-benchmarks/docker-test/smoketest-runner.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Allows Samza benchmark installation with Helm
  helm/values.yaml
Due: none

Add further debug output
  .gitlab-ci.yml
Due: none

More debug output
  .gitlab-ci.yml
Due: none

Fix location of build.env file
  .gitlab-ci.yml
Due: none

Removed commented out block
  theodolite/crd/crd-execution.yaml
Due: test-docs-crds-regression, deploy-theodolite

Moved Main SLO Definition from Execution to Benchmark yaml
  theodolite/crd/crd-benchmark.yaml
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutor.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
  theodolite/src/main/kotlin/theodolite/execution/SloFactory.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/test/kotlin/theodolite/CompositeStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/TestBenchmarkExecutorImpl.kt
Due: test-docs-crds-regression, deploy-theodolite

Fix exported image tag
  .gitlab-ci.yml
Due: none

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
