Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href ./_site

test-docs-crds-regression:
  stage: test
  image: golang
  before_script:
  - cd docs
  - go install fybrik.io/crdoc@latest
  script:
  - crdoc --resources ../theodolite/crd/ --template api-reference/crds.tmpl  --output api-reference/crds.ref.md
  - cmp api-reference/crds.md api-reference/crds.ref.md
  artifacts:
    when: on_failure
    paths:
  ...

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

deploy-theodolite:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
    IMAGE_NAME: theodolite
    DOCKERFILE: src/main/docker/Dockerfile.jvm
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  ...

Restructured Loads and Resources and deleted LoadDimension and Resource classes
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/Benchmark.kt
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutor.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
  theodolite/src/main/kotlin/theodolite/execution/Shutdown.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/StrategyFactory.kt
  theodolite/src/main/kotlin/theodolite/strategies/restriction/LowerBoundRestriction.kt
  theodolite/src/main/kotlin/theodolite/strategies/restriction/RestrictionStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/GuessStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/PrevResourceMinGuess.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/RestrictionSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/util/Config.kt
  theodolite/src/main/kotlin/theodolite/util/LoadDimension.kt
  theodolite/src/main/kotlin/theodolite/util/Resources.kt
  theodolite/src/main/kotlin/theodolite/util/Results.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/RestrictionSearchTest.kt
  theodolite/src/test/kotlin/theodolite/TestBenchmark.kt
  theodolite/src/test/kotlin/theodolite/TestBenchmarkExecutorImpl.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionCRDummy.kt
  theodolite/src/test/kotlin/theodolite/strategies/restriction/LowerBoundRestrictionTest.kt
  theodolite/src/test/kotlin/theodolite/util/IOHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/util/ResultsTest.kt
Due: test-docs-crds-regression, deploy-theodolite

Minor code quality fix
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
Due: deploy-theodolite

Update Docker Compose files with kcat and newer sr
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add missing Docker Compose file from previous commit
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Rename directories and update compose version
  theodolite-benchmarks/docker-test/uc1-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add test runner and tests for UC1
  theodolite-benchmarks/docker-test/README.md
  theodolite-benchmarks/docker-test/smoketest-runner.sh
  theodolite-benchmarks/docker-test/uc1-beam-flink/test.sh
  theodolite-benchmarks/docker-test/uc1-beam-samza/test.sh
  theodolite-benchmarks/docker-test/uc1-flink/test.sh
  theodolite-benchmarks/docker-test/uc1-kstreams/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add basic CI job for smoketests
  .gitlab-ci.yml
Due: none

Try fixing job dependecies
  .gitlab-ci.yml
Due: none

Fix kafkaConfig docs
  docs/creating-a-benchmark.md
Due: build-docs, test-docs-links

Fix smoketest runner script name
  .gitlab-ci.yml
Due: none

Use sh instead of bash
  theodolite-benchmarks/docker-test/smoketest-runner.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Pull quietly
  theodolite-benchmarks/docker-test/smoketest-runner.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Upgrade Docker image
  .gitlab-ci.yml
Due: none

Use Docker base image
  .gitlab-ci.yml
Due: none

Simplify kaniko CI job
  .gitlab-ci.yml
Due: none

Add pipeline job for docker-compose-jq
  .gitlab-ci.yml
  buildimages/docker-compose-jq/Dockerfile
Due: none

Fix invalid pipeline syntax
  .gitlab-ci.yml
Due: none

Remove unnecessary -U
  .gitlab-ci.yml
  buildimages/docker-compose-jq/Dockerfile
Due: none

Fix image name and path
  .gitlab-ci.yml
Due: none

Add k3d-helm build image
  .gitlab-ci.yml
Due: none

Add k3d-helm build image
  buildimages/k3d-helm/Dockerfile
Due: none

Mix wrong parsing template
  theodolite-benchmarks/docker-test/uc1-flink/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix wrong parsing template
  theodolite-benchmarks/docker-test/uc1-beam-flink/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix missing tag
  .gitlab-ci.yml
Due: none

Use custom image in pipeline
  .gitlab-ci.yml
Due: none

Print to stderr instead of tty
  theodolite-benchmarks/docker-test/uc1-beam-flink/test.sh
  theodolite-benchmarks/docker-test/uc1-beam-samza/test.sh
  theodolite-benchmarks/docker-test/uc1-flink/test.sh
  theodolite-benchmarks/docker-test/uc1-kstreams/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix bug in kaniko script
  .gitlab-ci.yml
Due: none

Reuse DOCKER_VERSION for IMAGE_TAG
  .gitlab-ci.yml
Due: none

Add rules for tTheodolite and Helm jobs
  .gitlab-ci.yml
Due: none

Move startup sleep to tests
  theodolite-benchmarks/docker-test/smoketest-runner.sh
  theodolite-benchmarks/docker-test/uc1-beam-flink/test.sh
  theodolite-benchmarks/docker-test/uc1-beam-samza/test.sh
  theodolite-benchmarks/docker-test/uc1-flink/test.sh
  theodolite-benchmarks/docker-test/uc1-kstreams/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Make a dummy commit
  theodolite-benchmarks/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add smoketests for UC2
  .gitlab-ci.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/test.sh
  theodolite-benchmarks/docker-test/uc2-beam-samza/test.sh
  theodolite-benchmarks/docker-test/uc2-flink/test.sh
  theodolite-benchmarks/docker-test/uc2-kstreams/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Increase sleep before starting benchmark
  theodolite-benchmarks/docker-test/smoketest-runner.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Dummy change to gradle
  theodolite-benchmarks/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Disable pseudo TTY
  theodolite-benchmarks/docker-test/uc2-beam-flink/test.sh
  theodolite-benchmarks/docker-test/uc2-beam-samza/test.sh
  theodolite-benchmarks/docker-test/uc2-flink/test.sh
  theodolite-benchmarks/docker-test/uc2-kstreams/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Test new script
  theodolite-benchmarks/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add smoke tests for UC3 (except Flink)
  .gitlab-ci.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/test.sh
  theodolite-benchmarks/docker-test/uc3-beam-samza/test.sh
  theodolite-benchmarks/docker-test/uc3-kstreams/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Reduce aggregation hierarchy for tests
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Update Eclipse format settings
  theodolite-benchmarks/beam-commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/flink-commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/kstreams-commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/load-generator-commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc1-flink/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc1-kstreams/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc1-load-generator/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc2-flink/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc2-kstreams/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc2-load-generator/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc3-flink/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc3-kstreams/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc3-load-generator/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc4-kstreams/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc4-load-generator/.settings/org.eclipse.jdt.ui.prefs
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
