Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq, deploy-buildimage-k3d-helm

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href --http-status-ignore 999 ./_site

build-docs-crds:
  stage: build
  image:
    name: ghcr.io/fybrik/crdoc:0.6.2
    entrypoint:
    - ''
  script: /crdoc --resources theodolite/crd/ --template docs/api-reference/crds.tmpl --output docs/api-reference/crds.ref.md
  artifacts:
    paths:
    - docs/api-reference/crds.ref.md
    expire_in: 1 week

lint-helm:
  stage: check
  needs: []
  image:
    name: alpine/helm:3.5.2
    entrypoint:
    - ''
  script: helm lint helm/

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

build-theodolite-jvm:
  image:
    name: ghcr.io/graalvm/native-image:ol8-java17-22.3.3
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite
  stage: build
  ...

Fix failing tests
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/DecoratingPatcher.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/PatcherFactoryTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix patcher name in docs
  docs/api-reference/patchers.md
Due: build-docs, test-docs-links

Minor docs fixes
  docs/api-reference/patchers.md
Due: build-docs, test-docs-links

Add SSP 2025 papers to docs
  docs/publications.md
Due: build-docs, test-docs-links

Add option to pass patch environment variables in initContainers.
  docs/api-reference/patchers.md
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/EnvVarPatcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/PatcherFactory.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/AbstractPatcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/EnvVarPatcherTest.kt
Due: build-docs, test-docs-links, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add clarification regarding GenericResourcePatcher
  docs/api-reference/patchers.md
Due: build-docs, test-docs-links

Fix setting PVCs access mode
  helm/templates/theodolite/results-volume/pvc.yaml
Due: lint-helm

Add option to set volume name in PVC
  helm/templates/theodolite/results-volume/pvc.yaml
  helm/values.yaml
Due: lint-helm

Switch to temurin build images
  .gitlab-ci.yml
Due: none

Fix broken link in docs
  docs/theodolite-benchmarks/benchmark-uc2.md
Due: build-docs, test-docs-links

Migrate benchmarks to eclipse-temurin images
  theodolite-benchmarks/http-bridge/Dockerfile
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc1-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc1-kstreams/Dockerfile
  theodolite-benchmarks/uc1-load-generator/Dockerfile
  theodolite-benchmarks/uc2-beam-samza/Dockerfile
  theodolite-benchmarks/uc2-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc2-kstreams/Dockerfile
  theodolite-benchmarks/uc2-load-generator/Dockerfile
  theodolite-benchmarks/uc3-beam-samza/Dockerfile
  theodolite-benchmarks/uc3-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc3-kstreams/Dockerfile
  theodolite-benchmarks/uc3-load-generator/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc4-kstreams/Dockerfile
  theodolite-benchmarks/uc4-load-generator/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Migrate benchmarks to non-slim images
  theodolite-benchmarks/http-bridge/Dockerfile
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc1-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc1-kstreams/Dockerfile
  theodolite-benchmarks/uc1-load-generator/Dockerfile
  theodolite-benchmarks/uc2-beam-samza/Dockerfile
  theodolite-benchmarks/uc2-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc2-kstreams/Dockerfile
  theodolite-benchmarks/uc2-load-generator/Dockerfile
  theodolite-benchmarks/uc3-beam-samza/Dockerfile
  theodolite-benchmarks/uc3-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc3-kstreams/Dockerfile
  theodolite-benchmarks/uc3-load-generator/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-hazelcastjet/Dockerfile
  theodolite-benchmarks/uc4-kstreams/Dockerfile
  theodolite-benchmarks/uc4-load-generator/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Prepare fixed v0.10.1 release
  codemeta.json
  docs/index.yaml
Due: build-docs, test-docs-links

Release Theodolite version 0.10.1
  CITATION.cff
  codemeta.json
  docs/index.yaml
Due: build-docs, test-docs-links

Fix duplicate port name
  helm/templates/theodolite/theodolite-operator.yaml
Due: lint-helm

Add labels to kafka -client and kcat pods
  helm/templates/kafka/kafka-client.yaml
  helm/templates/kafka/kcat.yaml
Due: lint-helm

Shorten port names
  helm/templates/theodolite/theodolite-operator.yaml
Due: lint-helm

Release Theodolite v0.10.2
  CITATION.cff
  codemeta.json
  docs/index.yaml
Due: build-docs, test-docs-links

Ignore URL checks to GI Digital Library as they are constantly producing timeouts
  .gitlab-ci.yml
Due: none

Fix leaking InputStream in file writer
  theodolite/src/main/kotlin/rocks/theodolite/core/IOHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/TheodoliteExecutor.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/IOHandlerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix regex in htmlproofer
  .gitlab-ci.yml
Due: none

Temporary fix for waiting for pods deleted
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeployment.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix failing tests
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/K8sManager.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix CRD docs
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Preserve order of sut/load generator resources in benchmark
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeploymentBuilder.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Log deletion of resources
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeployment.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix create and delete order of resources
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ConfigMapResourceSet.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeployment.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/BenchmarkResourceTeardownTest.kt
  theodolite/src/test/resources/resource-teardown-test-files/load-generator-configmap.yaml
  theodolite/src/test/resources/resource-teardown-test-files/sut-configmap-1.yaml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remove Kafka topic management
  theodolite/build.gradle
  theodolite/crd/crd-benchmark.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeployment.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeploymentBuilder.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/kafka/TopicManager.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/KafkaConfig.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/model/crd/BenchmarkCRDummy.kt
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
Due: build-docs-crds, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Update CRD docs
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Fix broken link in docs
  docs/running-benchmarks.md
Due: build-docs, test-docs-links

Integrate DQL support onto new SLI/SLO schema
  docs/creating-a-benchmark.md
  docs/example-otel-demo-dynatrace.md
  theodolite/examples/otel-demo-dynatrace/README.md
  theodolite/examples/otel-demo-dynatrace/otel-demo-benchmark.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-execution.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DqlPollResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DqlRequestExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DynatraceMetricFetcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcherFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricQueryResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricQueryResponseFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricRequestExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricRequestExecutorFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/PrometheusMetricFetcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/PrometheusRequestExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/PrometheusResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SliCollector.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloEvaluator.kt
  theodolite/src/main/resources/application.properties
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/DqlPollResponseTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloCheckerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcherTest.kt
Due: build-docs, test-docs-links, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Make Dynatrace URL and SLO checker URL configurable via env vars and Helm
  docs/creating-a-benchmark.md
  docs/example-otel-demo-dynatrace.md
  helm/templates/theodolite/theodolite-operator.yaml
  helm/values.yaml
  theodolite/crd/crd-benchmark.yaml
  theodolite/examples/otel-demo-dynatrace/README.md
  theodolite/examples/otel-demo-dynatrace/otel-demo-benchmark.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Configuration.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DynatraceMetricFetcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactory.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactoryTest.kt
Due: build-docs, test-docs-links, build-docs-crds, lint-helm, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Revert examples/operator to remove-kafka-topic-management
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-execution.yaml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Make Prometheus URL and SLO checker URL configurable via Helm
  docs/creating-a-benchmark.md
  helm/templates/theodolite/theodolite-operator.yaml
  helm/values.yaml
  theodolite/crd/crd-benchmark.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Configuration.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactory.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactoryTest.kt
Due: build-docs, test-docs-links, build-docs-crds, lint-helm, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: util/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
  deploy-buildimage-k3d-helm: any of: buildimages/k3d-helm/Dockerfile
