Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq, deploy-buildimage-k3d-helm

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: util/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
  deploy-buildimage-k3d-helm: any of: buildimages/k3d-helm/Dockerfile

Omit unset Execution spec fields from server-side apply patches
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/BenchmarkExecution.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/KotlinLateinitModule.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/util/JacksonConfigTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/util/KotlinLateinitModuleTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Declare afterTeardownDelay in the Execution CRD schema
  docs/api-reference/crds.md
  theodolite/crd/crd-execution.yaml
Due: build-docs, test-docs-links, build-docs-crds, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Test the ExecutionReconciler against a real Kubernetes API server
  theodolite/build.gradle
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/KotlinLateinitModule.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerKubeApiTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/util/JacksonConfigTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Adapt rather than cast the injected client to a namespaced one
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinator.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinatorCdiClientTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix execution staying PENDING when benchmark is already READY
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add KubeAPI test: execution transitions to Running once benchmark is Ready
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerKubeApiTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Clean up comments for clarity
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/util/JacksonConfigTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Use JOSDK leader election
  docs/development/architecture.md
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Theodolite.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/BenchmarkExecution.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/EventCreator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/LeaderElectionConfigurationCustomizer.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/LeaderElector.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/OperatorReadiness.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/OperatorReadinessTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinatorTest.kt
Due: build-docs, test-docs-links, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Share HourOfDayKey (UC3) across implementations
  theodolite-benchmarks/uc3-beam/build.gradle
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayKey.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayKeyCoder.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayKeySerde.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayWithStats.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/MapTimeFormat.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/PipelineFactory.java
  theodolite-benchmarks/uc3-commons/src/main/java/rocks/theodolite/benchmarks/uc3/commons/HourOfDayKey.java
  theodolite-benchmarks/uc3-flink/build.gradle
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/HourOfDayProcessWindowFunction.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/util/HourOfDayKey.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/util/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/util/HourOfDayKeySerde.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/util/HourOfDayRecordFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/build.gradle
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HourOfDayKey.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HourOfDayKeySerializer.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/MapTimeKeyConfiguration.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineFactory.java
  theodolite-benchmarks/uc3-kstreams/build.gradle
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HourOfDayKey.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HourOfDayKeySerde.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HourOfDayRecordFactory.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/TopologyBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Share HourOfDayKeyFactory (UC3) across implementation and make now serializable
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/HourOfDayWithStats.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/MapTimeFormat.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/StatsKeyFactory.java
  theodolite-benchmarks/uc3-commons/src/main/java/rocks/theodolite/benchmarks/uc3/commons/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-commons/src/main/java/rocks/theodolite/benchmarks/uc3/commons/StatsKeyFactory.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/util/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/util/StatsKeyFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/MapTimeKeyConfiguration.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/StatsKeyFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineFactory.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/StatsKeyFactory.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/TopologyBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align UC3 Flink stats object with other implementations
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/StatsAggregateFunction.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/util/StatsFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/StatsAggregatorFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align UC2 Flink stats accumulation with other implementations
  theodolite-benchmarks/uc2-flink/src/main/java/rocks/theodolite/benchmarks/uc2/flink/StatsAggregateFunction.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Share SensorParentKey class across implementations
  theodolite-benchmarks/uc4-beam/build.gradle
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/DuplicateAsFlatMap.java
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/FilterNullValues.java
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/PipelineFactory.java
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/SensorParentKey.java
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/SetKeyToGroup.java
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/serialization/SensorParentKeyCoder.java
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/serialization/SensorParentKeySerde.java
  theodolite-benchmarks/uc4-commons/src/main/java/rocks/theodolite/benchmarks/uc4/commons/SensorParentKey.java
  theodolite-benchmarks/uc4-flink/build.gradle
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/AggregationServiceFlinkJob.java
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/JoinAndDuplicateCoFlatMapFunction.java
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/RecordAggregationProcessWindowFunction.java
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/util/SensorParentKey.java
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/util/SensorParentKeySerializer.java
  theodolite-benchmarks/uc4-hazelcastjet/build.gradle
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/SensorGroupKey.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/SensorGroupKeySerializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/SensorParentKeySerializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineTest.java
  theodolite-benchmarks/uc4-kstreams/build.gradle
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/JointFlatTransformer.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/JointFlatTransformerSupplier.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/SensorParentKeySerde.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/TopologyBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Format build.gradle files
  theodolite-benchmarks/uc4-flink/build.gradle
  theodolite-benchmarks/uc4-kstreams/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix test compilation errors
  theodolite-benchmarks/uc3-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineTest.java
  theodolite-benchmarks/uc4-kstreams/src/test/java/rocks/theodolite/benchmarks/uc4/kstreams/SensorParentKeySerdeTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Centralized UC4 child-parent traversal
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/GenerateParentsFn.java
  theodolite-benchmarks/uc4-commons/src/main/java/rocks/theodolite/benchmarks/uc4/commons/ChildParentPairBuilder.java
  theodolite-benchmarks/uc4-commons/src/test/java/rocks/theodolite/benchmarks/uc4/commons/ChildParentPairBuilderTest.java
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/ChildParentsFlatMapFunction.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/ChildParentsTransformer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineFactory.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/ChildParentsTransformer.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove execution mode configuration
  helm/templates/theodolite/theodolite-operator.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Configuration.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ExecutionModes.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ExperimentRunnerImpl.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Theodolite.kt
Due: lint-helm, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add agent guide and Claude Code instructions
  AGENTS.md
  CLAUDE.md
Due: none

Add reporting of test results in CI/CD
  .gitlab-ci.yml
Due: none

Change pytest test class in CI/CD
  .gitlab-ci.yml
Due: none

Update instructions for local tests
  docs/development/testing-examples.md
Due: build-docs, test-docs-links

Fix operator crash serializing Executions under leader election
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/LeaderElectionConfigurationCustomizer.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/LeaderElectionProducer.kt
  theodolite/src/main/resources/application.properties
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/LeaderElectionClientWiringTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix mentioning of wrong Java version
  docs/development/testing-examples.md
Due: build-docs, test-docs-links

Print pod status after helm smoketest
  .gitlab-ci.yml
Due: none

Print logs for non-ready pods in Helm smoketest
  .gitlab-ci.yml
Due: none

Configure k3d version
  buildimages/k3d-helm/Dockerfile
Due: deploy-buildimage-k3d-helm

Update maintainer information
  codemeta.json
  docs/project-info.md
  helm/Chart.yaml
Due: build-docs, test-docs-links, lint-helm

Fix URL typo
  docs/theodolite-benchmarks/load-generator.md
Due: build-docs, test-docs-links

Fix ClassCastException when adapting injected KubernetesClient
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add missing RBAC permissions on Prometheus subresources
  helm/templates/prometheus/operator-role.yaml
Due: lint-helm

Improve naming of stream processing benchmarks
  helm/templates/theodolite/benchmarks/benchmark.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-beam-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc1-hazelcastjet/uc1-hazelcastjet-benchmark.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/uc2-beam-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/uc2-hazelcastjet-benchmark.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/uc3-beam-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/uc3-hazelcastjet-benchmark.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/uc4-beam-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/uc4-hazelcastjet-benchmark.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark.yaml
Due: lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks
