Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-random-scheduler

Path conditions:
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

Beam Flink use task and job manager in docker-compose
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Clean up
  .gitlab-ci.yml
Due: none

Fix clustername
  .gitlab-ci.yml
Due: none

Test chart in CI job
  .gitlab-ci.yml
  helm/templates/tests/test-prometheus-connection.yaml
Due: none

Add template and use crdoc v0.5.1
  docs/README.md
  docs/api-reference/crds.tmpl
Due: none

Upgrade to latest crdoc version
  docs/README.md
  docs/api-reference/crds.md
Due: none

Add missing template argument in Readme
  docs/README.md
Due: none

Add pipeline job to check if CRD docs have changed
  .gitlab-ci.yml
Due: none

Add artifact on failure
  .gitlab-ci.yml
Due: none

Restructured yaml and associated changes to TheodoliteExecutor
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/StrategyFactory.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/RestrictionSearch.kt
  theodolite/src/main/kotlin/theodolite/util/Config.kt
  theodolite/src/test/kotlin/theodolite/RestrictionSearchTest.kt
Due: deploy-theodolite

Minor code fixes
  theodolite/src/main/kotlin/theodolite/execution/operator/AbstractStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionEventHandler.kt
  theodolite/src/main/kotlin/theodolite/k8s/ResourceByLabelHandler.kt
Due: deploy-theodolite

Exclude .tmpl files
  docs/_config.yml
Due: none

Add eracertracer as id to samza docker container
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc2-beam-samza/Dockerfile
  theodolite-benchmarks/uc3-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add scale to beam samza docker-compose files
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add forgotten serializing options to beam samza
  theodolite-benchmarks/uc4-beam-samza/samza-standalone.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

beam flink add rocksdb by flink + add scale
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

uc4 also beam flink add rocksdb by flink + add scale
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix failing test with a lot of refactoring
  theodolite/build.gradle
  theodolite/src/main/kotlin/theodolite/execution/operator/AbstractStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/BenchmarkStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionEventHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/StateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteOperator.kt
  theodolite/src/main/kotlin/theodolite/model/crd/BenchmarkCRD.kt
  theodolite/src/main/kotlin/theodolite/model/crd/ExecutionCRD.kt
  theodolite/src/main/kotlin/theodolite/model/crd/ExecutionStates.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkCRDummy.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionCRDummy.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionEventHandlerTestWithInformer.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionEventHandlerWrapper.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/StateHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/util/ExecutionStateComparatorTest.kt
  theodolite/src/test/resources/mockito-extensions/org.mockito.plugins.MockMaker
Due: deploy-theodolite

Use enum in ExecutionStatus
  theodolite/src/main/kotlin/theodolite/execution/operator/AbstractStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/BenchmarkStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/ClusterSetup.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionEventHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/theodolite/model/crd/BenchmarkCRD.kt
  theodolite/src/main/kotlin/theodolite/model/crd/BenchmarkState.kt
  theodolite/src/main/kotlin/theodolite/model/crd/ExecutionState.kt
  theodolite/src/main/kotlin/theodolite/model/crd/ExecutionStatus.kt
  theodolite/src/main/kotlin/theodolite/util/ExecutionStateComparator.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ControllerTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionCRDummy.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionEventHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionEventHandlerTestWithInformer.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/StateHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/model/crd/ExecutionCRDTest.kt
  theodolite/src/test/kotlin/theodolite/util/ExecutionStateComparatorTest.kt
Due: deploy-theodolite

Use enum in BenchmarkStatus and small cleanup
  theodolite/src/main/kotlin/theodolite/execution/operator/BenchmarkStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/theodolite/model/crd/BenchmarkCRD.kt
  theodolite/src/main/kotlin/theodolite/model/crd/BenchmarkState.kt
  theodolite/src/main/kotlin/theodolite/model/crd/BenchmarkStatus.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ControllerTest.kt
Due: deploy-theodolite

Minor schema fixes
  theodolite/crd/crd-benchmark.yaml
  theodolite/crd/crd-execution.yaml
Due: deploy-theodolite

Minor refactoring
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionStateHandler.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/StateHandlerTest.kt
Due: deploy-theodolite

Add start and completion time to ExecutionState
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionStateHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/theodolite/model/crd/ExecutionStatus.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/StateHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/model/crd/ExecutionStatusTest.kt
Due: deploy-theodolite

Add further tests
  theodolite/src/main/kotlin/theodolite/model/crd/ExecutionStatus.kt
  theodolite/src/test/kotlin/theodolite/model/crd/ExecutionStatusTest.kt
Due: deploy-theodolite

Minor fixes
  theodolite/README.md
Due: deploy-theodolite

Add wiki quote (former main page)
  docs/concepts/index.md
Due: none

Add Theodolite logo to main page
  docs/_sass/custom/custom.scss
  docs/assets/theodolite-horizontal-transparent.svg
  docs/assets/theodolite-stacked-transparent.svg
  docs/index.md
Due: none

Add notes for Theodolite features
  docs/index.md
Due: none

Add Readme for building and packaging benchmarks
  theodolite-benchmarks/README.md
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

clean up
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
Due: deploy-theodolite

clean up
  theodolite/src/main/kotlin/theodolite/benchmark/ActionCommand.kt
Due: deploy-theodolite

fix test for actions
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/ActionCommand.kt
  theodolite/src/test/kotlin/theodolite/benchmark/ActionCommandTest.kt
  theodolite/src/test/kotlin/theodolite/benchmark/ErrorChannelMessage.kt
Due: deploy-theodolite

small fixes, cleanup
  theodolite/src/main/kotlin/theodolite/benchmark/ActionCommand.kt
  theodolite/src/test/kotlin/theodolite/benchmark/ActionCommandTest.kt
Due: deploy-theodolite

clean up
  theodolite/build.gradle
Due: deploy-theodolite

clean up
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
Due: deploy-theodolite

Fix #292, shadow jar on runtime classpath
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
  theodolite-benchmarks/flink-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Upgrade Guava version
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Cleanup Flink dependencies, fix #301
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
  theodolite-benchmarks/flink-commons/build.gradle
  theodolite-benchmarks/uc2-flink/build.gradle
  theodolite-benchmarks/uc3-flink/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix minor JavaDoc issues
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractBeamService.java
  theodolite-benchmarks/uc1-beam-samza/src/main/java/application/Uc1BeamSamza.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix dependency clash (Apache Commons bean utils)
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.samza.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks
