Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-random-scheduler

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

deploy-theodolite:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
    IMAGE_NAME: theodolite
    DOCKERFILE: src/main/docker/Dockerfile.jvm
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  ...

test-slo-checker-lag-trend:
  stage: test
  needs: []
  image: python:3.7-slim
  before_script:
  - cd slo-checker/record-lag
  script:
  - pip install -r requirements.txt
  - cd app
  - python -m unittest

test-slo-checker-dropped-records-kstreams:
  stage: test
  needs: []
  image: python:3.7-slim
  before_script:
  - cd slo-checker/dropped-records
  script:
  - pip install -r requirements.txt
  - cd app
  - python -m unittest

deploy-slo-checker-lag-trend:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"${CR_HOST}\":{\"auth\":\"$(printf "%s:%s" "${CR_USER}" "${CR_PW}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

deploy-random-scheduler:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - mkdir -p /kaniko/.docker
  - echo "{\"auths\":{\"${CR_HOST}\":{\"auth\":\"$(printf "%s:%s" "${CR_USER}" "${CR_PW}" | base64 | tr -d '\n')\"}}}" > /kaniko/.docker/config.json
  ...

Override entrypoint
  .gitlab-ci.yml
Due: none

Use offical image provided by crdoc
  .gitlab-ci.yml
Due: none

Update project description and website
  codemeta.json
  docs/_config.yml
  helm/Chart.yaml
  helm/templates/NOTES.txt
Due: none

Upgrade Theodolite source version when releasing
  docs/development/release-process.md
Due: none

Prepare v0.6.0 release
  CITATION.cff
  codemeta.json
  docs/index.yaml
  execution/theodolite.yaml
  helm/Chart.yaml
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
  theodolite/README.md
  theodolite/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Increment version number and list current release
  CITATION.cff
  codemeta.json
  docs/index.yaml
  helm/Chart.yaml
  theodolite/README.md
  theodolite/build.gradle
Due: deploy-theodolite

Clean up Beam/Flink deployment
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Set default parallelism to 1
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Format code
  theodolite-benchmarks/uc2-beam-flink/src/main/java/application/Uc2BeamFlink.java
  theodolite-benchmarks/uc2-beam/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc2-beam/src/main/java/application/Uc2BeamPipeline.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix code format
  theodolite-benchmarks/uc2-beam/src/main/java/application/Uc2BeamPipeline.java
  theodolite-benchmarks/uc3-beam/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc3-beam/src/main/java/application/Uc3BeamPipeline.java
  theodolite-benchmarks/uc4-beam/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc4-beam/src/main/java/application/Uc4BeamPipeline.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

New strategy InitialGuessSearchStrategy
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/CompositeStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
Due: deploy-theodolite

Using result object for InitialGuessSearchStrategy implementation
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/CompositeStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/GuessStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/util/Results.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
Due: deploy-theodolite

Comments and clean up
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/GuessStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
Due: deploy-theodolite

Bug Fix: sloChecker -> listOf(sloChecker)
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
Due: deploy-theodolite

Added a new Test Case for InitialGuessStrategy and fixed a bug
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
Due: deploy-theodolite

Added GuessStrategy Interface Implementation
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/GuessStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/PrevResourceMinGuess.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
Due: deploy-theodolite

Fix import order
  theodolite-benchmarks/uc3-beam/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc4-beam/.settings/org.eclipse.jdt.ui.prefs
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Clean up code
  theodolite-benchmarks/uc1-beam/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc1-beam/src/main/java/application/LogKeyValue.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
  theodolite-benchmarks/uc2-beam/src/main/java/application/StatsAggregation.java
  theodolite-benchmarks/uc2-beam/src/main/java/application/StatsToString.java
  theodolite-benchmarks/uc3-beam/src/main/java/application/MapTimeFormat.java
  theodolite-benchmarks/uc3-beam/src/main/java/application/Uc3BeamPipeline.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/AggregatedActivePowerRecordEventTimePolicy.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/AggregatedToActive.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/FilterEvents.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/GenerateParentsFn.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/RecordAggregation.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/SetIdForAggregated.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/SetKeyToGroup.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/Uc4BeamPipeline.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/UpdateChildParentPairs.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Clean up code format
  theodolite-benchmarks/uc4-beam/src/main/java/serialization/AggregatedActivePowerRecordCoder.java
  theodolite-benchmarks/uc4-beam/src/main/java/serialization/AggregatedActivePowerRecordDeserializer.java
  theodolite-benchmarks/uc4-beam/src/main/java/serialization/AggregatedActivePowerRecordSerializer.java
  theodolite-benchmarks/uc4-beam/src/main/java/serialization/EventCoder.java
  theodolite-benchmarks/uc4-beam/src/main/java/serialization/SensorParentKeyCoder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add samza state dir to gitignore
  theodolite-benchmarks/uc1-beam-samza/.gitignore
  theodolite-benchmarks/uc2-beam-samza/.gitignore
  theodolite-benchmarks/uc3-beam-samza/.gitignore
  theodolite-benchmarks/uc4-beam-samza/.gitignore
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Minor docs fix
  theodolite-benchmarks/uc3-beam-samza/src/main/java/application/Uc3BeamSamza.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Clean up Docker Compose files
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Set public images in Docker Compose file
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Set more likely default for Kafka server
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGenerator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Move actions docs to drafts
  docs/_config.yml
  docs/drafts/actions.md
Due: none

Upgrade to Beam 2.35
  theodolite-benchmarks/beam-commons/build.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.flink.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.samza.gradle
  theodolite-benchmarks/uc4-beam/src/main/java/serialization/AggregatedActivePowerRecordCoder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Upgrade Gradle including plugins
  theodolite-benchmarks/buildSrc/build.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.java-conventions.gradle
  theodolite-benchmarks/gradle/wrapper/gradle-wrapper.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add spotbugs exclude filter for FP
  theodolite-benchmarks/config/spotbugs-exclude-filter.xml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Replace jcenter() with mavenCentral()
  theodolite-benchmarks/beam-commons/build.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.kstreams.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.load-generator.gradle
  theodolite-benchmarks/flink-commons/build.gradle
  theodolite-benchmarks/kstreams-commons/build.gradle
  theodolite-benchmarks/load-generator-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add support for generic SLO type
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/ExternalSloChecker.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloChecker.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloTypes.kt
Due: deploy-theodolite

Add generic SLO checker
  slo-checker/generic/Dockerfile
  slo-checker/generic/README.md
  slo-checker/generic/app/main.py
  slo-checker/generic/app/test.py
  slo-checker/generic/requirements.txt
  slo-checker/generic/resources/test-1-rep-success.json
Due: none

Add generic SLO checker to build pipeline
  .gitlab-ci.yml
Due: none

Pass generic SLO checker config to container
  theodolite/src/main/kotlin/theodolite/evaluation/ExternalSloChecker.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloJson.kt
Due: deploy-theodolite

Refactor some null checks
  theodolite/src/main/kotlin/theodolite/evaluation/ExternalSloChecker.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloJson.kt
Due: deploy-theodolite

Add missing conflict resolves
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteOperator.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionEventHandlerTest.kt
Due: deploy-theodolite

Disable flaky test
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionEventHandlerTestWithInformer.kt
Due: deploy-theodolite

Path conditions:
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
