Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-random-scheduler

Path conditions:
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

Report test results also on failures
  .gitlab-ci.yml
Due: none

Add generic SLO checker to Helm
  helm/templates/theodolite/theodolite-operator.yaml
  helm/values.yaml
Due: none

Disable dropped records SLO in minimal setup
  helm/preconfigs/minimal.yaml
Due: none

Enhance logging in generic SLO checker
  slo-checker/generic/app/main.py
Due: none

Fix passing metadata
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
Due: deploy-theodolite

Fix passing metadata
  slo-checker/generic/app/main.py
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
Due: deploy-theodolite

Rename uc1 beam from 'flink' to 'beam flink'
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-beam-flink-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add parallelism to beam flink
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add docs for generic SLO checker
  docs/creating-an-execution.md
Due: none

Add basic setup for binder
  binder/requirements.txt
Due: none

Restructuring Resource class, represented as integer List
  theodolite/src/main/kotlin/theodolite/benchmark/Benchmark.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutor.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
  theodolite/src/main/kotlin/theodolite/execution/Shutdown.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/StrategyFactory.kt
  theodolite/src/main/kotlin/theodolite/strategies/restriction/LowerBoundRestriction.kt
  theodolite/src/main/kotlin/theodolite/strategies/restriction/RestrictionStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/GuessStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/PrevResourceMinGuess.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/RestrictionSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/util/Config.kt
  theodolite/src/main/kotlin/theodolite/util/Resources.kt
  theodolite/src/main/kotlin/theodolite/util/Results.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/RestrictionSearchTest.kt
  theodolite/src/test/kotlin/theodolite/TestBenchmark.kt
  theodolite/src/test/kotlin/theodolite/TestBenchmarkExecutorImpl.kt
  theodolite/src/test/kotlin/theodolite/strategies/restriction/LowerBoundRestrictionTest.kt
  theodolite/src/test/kotlin/theodolite/util/IOHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/util/ResultsTest.kt
Due: deploy-theodolite

Generate results CSV file from Theodolite (#320)
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
Due: deploy-theodolite

Add docs on using the notebooks
  docs/running-benchmarks.md
Due: none

Fix duplicate file ending of demand.csv file
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
Due: deploy-theodolite

Fix compilation error
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
Due: deploy-theodolite

Prepare v0.6.1 release
  CITATION.cff
  codemeta.json
  helm/Chart.yaml
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
  theodolite/README.md
  theodolite/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Add v0.6.1 release to Helm index
  docs/index.yaml
Due: none

Increment version number and list current release
  CITATION.cff
  codemeta.json
  docs/index.yaml
Due: none

Fix version in example Job
  execution/theodolite.yaml
Due: none

Fix unresolved merge conflicts
  theodolite/src/main/kotlin/theodolite/execution/operator/BenchmarkStateChecker.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkStateCheckerTest.kt
Due: deploy-theodolite

Update CRD docs
  docs/api-reference/crds.md
Due: none

Fix artifact paths
  .gitlab-ci.yml
Due: none

Add Hazelcast Jet to CI pipeline
  .gitlab-ci.yml
Due: none

Replace jCenter by mavenCentral
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.hazelcastjet.gradle
  theodolite-benchmarks/hazelcastjet-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Configure HTTP record sender via env variable
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/ConfigurationKeys.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/HttpRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGenerator.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGeneratorTarget.java
  theodolite-benchmarks/load-generator-commons/src/test/java/theodolite/commons/workloadgeneration/KeySpaceTest.java
  theodolite-benchmarks/load-generator-commons/src/test/java/theodolite/commons/workloadgeneration/LoadGeneratorTargetTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix build and add test
  theodolite-benchmarks/load-generator-commons/build.gradle
  theodolite-benchmarks/load-generator-commons/src/test/java/theodolite/commons/workloadgeneration/HttpRecordSenderTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix QA issues
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/HttpRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGenerator.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGeneratorTarget.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Draft PubSub sender
  theodolite-benchmarks/load-generator-commons/build.gradle
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/PubSubRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/TitanPubSubSenderFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add simple favicon
  .gitlab-ci.yml
  docs/favicon.ico
Due: none

Rename env variable and add logging
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/ConfigurationKeys.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGenerator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Make Titan record generator testable
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGenerator.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/TitanRecordGenerator.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/TitanRecordGeneratorFactory.java
  theodolite-benchmarks/load-generator-commons/src/test/java/theodolite/commons/workloadgeneration/TitanRecordGeneratorTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Test against JSON string
  theodolite-benchmarks/load-generator-commons/src/test/java/theodolite/commons/workloadgeneration/HttpRecordSenderTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add docs for load generator
  docs/theodolite-benchmarks/index.md
  docs/theodolite-benchmarks/load-generator.md
Due: none

Minor docs fixes
  docs/creating-a-benchmark.md
  docs/running-benchmarks.md
Due: none

Minor clean up in Gradle file
  theodolite/build.gradle
Due: deploy-theodolite

Fix deprecation warnings in Flink
  theodolite-benchmarks/uc2-flink/src/main/java/theodolite/uc2/application/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc3-flink/src/main/java/theodolite/uc3/application/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc4-flink/src/main/java/theodolite/uc4/application/AggregationServiceFlinkJob.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Upgrade Flink to 1.13
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
  theodolite-benchmarks/flink-commons/build.gradle
  theodolite-benchmarks/uc1-flink/Dockerfile
  theodolite-benchmarks/uc2-flink/Dockerfile
  theodolite-benchmarks/uc3-flink/Dockerfile
  theodolite-benchmarks/uc4-flink/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks
