Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href ./_site

build-docs-crds:
  stage: build
  image:
    name: ghcr.io/fybrik/crdoc:0.6.1
    entrypoint:
    - ''
  script: /crdoc --resources theodolite/crd/ --template docs/api-reference/crds.tmpl --output docs/api-reference/crds.ref.md
  artifacts:
    paths:
    - docs/api-reference/crds.ref.md
    expire_in: 1 week

lint-helm:
  stage: check
  needs: []
  image:
    name: alpine/helm:3.5.2
    entrypoint:
    - ''
  script: helm lint helm/

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

build-theodolite-jvm:
  image:
    name: ghcr.io/graalvm/native-image:java11-21.3.0
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite
  stage: build
  ...

Rename deploy to package/publish
  .gitlab-ci.yml
Due: none

Move some jobs from package to publish
  .gitlab-ci.yml
Due: none

Push images to private registry
  .gitlab-ci.yml
Due: none

Fix missing quote
  .gitlab-ci.yml
Due: none

Try using custom certificate
  .gitlab-ci.yml
Due: none

Create certs directory
  .gitlab-ci.yml
Due: none

Fix harbor project name variable
  .gitlab-ci.yml
Due: none

Use internal registry certificate
  .gitlab-ci.yml
Due: none

SImplify build steps
  .gitlab-ci.yml
Due: none

Addd image publishing for random scheduler
  .gitlab-ci.yml
Due: none

Revert accidentally removed image name
  .gitlab-ci.yml
Due: none

Fix variable setting
  .gitlab-ci.yml
Due: none

Try setting SSL_CERT_FILE instead of SSL_CERT_DIR
  .gitlab-ci.yml
Due: none

Move utility tools and images
  .gitlab-ci.yml
  utils/buildimages/docker-compose-jq/Dockerfile
  utils/buildimages/k3d-helm/Dockerfile
  utils/random-scheduler/Dockerfile
  utils/random-scheduler/README.md
  utils/random-scheduler/schedule.sh
Due: none

Split GitLab CI files to subprojects
  .gitlab-ci.yml
  docs/.gitlab-ci.yml
  helm/.gitlab-ci.yml
  slo-checker/.gitlab-ci.yml
  theodolite-benchmarks/.gitlab-ci.yml
  theodolite/.gitlab-ci.yml
  utils/.gitlab-ci.yml
Due: build-docs, test-docs-links, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remodel packaging and publishing of utils
  utils/.gitlab-ci.yml
Due: none

Try fixing pipeline error
  utils/.gitlab-ci.yml
Due: none

Update variable checks for private registry
  slo-checker/.gitlab-ci.yml
  theodolite-benchmarks/.gitlab-ci.yml
  theodolite/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix variable names
  .gitlab-ci.yml
Due: none

Fix variable names
  utils/.gitlab-ci.yml
Due: none

Some cleanup
  helm/.gitlab-ci.yml
Due: lint-helm

Let Helm test wait for theodolite package
  helm/.gitlab-ci.yml
Due: lint-helm

Publish Theodolite image after successful smoke test
  theodolite/.gitlab-ci.yml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix some corner cases
  helm/.gitlab-ci.yml
  utils/.gitlab-ci.yml
Due: lint-helm

Csv exporter add quotations mark to quotation mark
  theodolite/src/main/kotlin/rocks/theodolite/core/IOHandler.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/IOHandlerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Csv export: Add commas to the column names
  theodolite/src/main/kotlin/rocks/theodolite/core/IOHandler.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/IOHandlerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix IOHandler.kt + IOHandlerTest.kt Now adds quotation marks around values if they contain commas
  theodolite/src/main/kotlin/rocks/theodolite/core/IOHandler.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/IOHandlerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add some templating and contents for concepts
  docs/_includes/head_custom.html
  docs/concepts/benchmarks-and-executions.md
  docs/concepts/index.md
  docs/concepts/metrics.md
  docs/concepts/search-strategies.md
  docs/index.md
Due: build-docs, test-docs-links

Fix broken link
  docs/creating-a-benchmark.md
Due: build-docs, test-docs-links

Allow for more flexible Strimzi configuration
  helm/templates/kafka/kafka-cluster.yaml
Due: lint-helm

Add custom schema registry
  helm/templates/kafka/schema-registry-deployment.yaml
  helm/templates/kafka/schema-registry-service.yaml
  helm/values.yaml
Due: lint-helm

Use custom schema registry deployment
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-hazelcastjet/resources/uc1-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/resources/uc2-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/resources/uc3-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/resources/uc3-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/resources/uc4-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/resources/uc4-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite/examples/operator/example-configmap.yaml
  theodolite/examples/resources/uc1-kstreams-deployment.yaml
  theodolite/examples/resources/uc1-load-generator-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Addd more content on metrics and strategies
  docs/_sass/custom/custom.scss
  docs/assets/images/capacity.svg
  docs/assets/images/demand.svg
  docs/concepts/index.md
  docs/concepts/metrics.md
  docs/concepts/search-strategies.md
Due: build-docs, test-docs-links

Fix missing alt text
  docs/concepts/metrics.md
Due: build-docs, test-docs-links

Add text on search strategies
  docs/concepts/search-strategies.md
Due: build-docs, test-docs-links

Add project info and publications
  docs/api-reference/index.md
  docs/development/index.md
  docs/project-info.md
  docs/publications.md
Due: build-docs, test-docs-links

Ignore HTTP status code 999 returned by LinkedIn
  .gitlab-ci.yml
Due: none

Ignore .bundle directory
  docs/.gitignore
Due: build-docs, test-docs-links

Update docs to match latest Theodolite version
  docs/creating-a-benchmark.md
  docs/creating-an-execution.md
  docs/drafts/filesystem.md
  docs/installation.md
  docs/running-benchmarks.md
Due: build-docs, test-docs-links

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
