Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href ./_site

test-docs-crds-regression:
  stage: test
  image: golang
  before_script:
  - cd docs
  - go install fybrik.io/crdoc@latest
  script:
  - crdoc --resources ../theodolite/crd/ --template api-reference/crds.tmpl  --output api-reference/crds.ref.md
  - cmp api-reference/crds.md api-reference/crds.ref.md
  artifacts:
    when: on_failure
    paths:
  ...

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

deploy-theodolite:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
    IMAGE_NAME: theodolite
    DOCKERFILE: src/main/docker/Dockerfile.jvm
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  ...

Remove SupressWarring by add correct Type uc2 hzj
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2PipelineBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align package structure uc1 hzj
  theodolite-benchmarks/uc1-hazelcastjet/build.gradle
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1HazelcastJetFactory.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1PipelineBuilder.java
  theodolite-benchmarks/uc1-hazelcastjet/src/test/java/theodolite/uc1/application/Uc1PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align package structure commons hzj
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/BenchmarkConfigBuilder.java
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/ClusterConfig.java
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/ConfigurationKeys.java
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/JetInstanceBuilder.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1HazelcastJetFactory.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2HazelcastJetFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/Uc3HazelcastJetFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/Uc3KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4KafkaPropertiesBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align package structure uc2 hzj
  theodolite-benchmarks/uc2-hazelcastjet/build.gradle
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2HazelcastJetFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/uc2specifics/StatsAccumulatorSerializer.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/uc2specifics/StatsAccumulatorSupplier.java
  theodolite-benchmarks/uc2-hazelcastjet/src/test/java/theodolite/uc2/application/Uc2PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align package structure uc3 hzj
  theodolite-benchmarks/uc3-hazelcastjet/build.gradle
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3HazelcastJetFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/uc3specifics/HourOfDayKey.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/uc3specifics/HourOfDayKeySerializer.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/uc3specifics/HoursOfDayKeyFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/uc3specifics/StatsKeyFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/test/java/theodolite/uc3/application/Uc3PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align package structure uc4 hzj
  theodolite-benchmarks/uc4-hazelcastjet/build.gradle
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/AggregatedActivePowerRecordAccumulator.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/ChildParentsTransformer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/EventDeserializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/HashMapSupplier.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/ImmutableSensorRegistryUc4Serializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/SensorGroupKey.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/SensorGroupKeySerializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/ValueGroup.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/uc4specifics/ValueGroupSerializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/theodolite/uc4/application/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align package structure tests hzj
  theodolite-benchmarks/uc1-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc1/hazelcast/Uc1PipelineTest.java
  theodolite-benchmarks/uc2-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineTest.java
  theodolite-benchmarks/uc3-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineTest.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix config capitalization
  theodolite-benchmarks/beam-commons/src/main/java/rocks/theodolite/benchmarks/commons/beam/AbstractPipelineFactory.java
  theodolite-benchmarks/beam-commons/src/main/java/rocks/theodolite/benchmarks/commons/beam/BeamService.java
  theodolite-benchmarks/beam-commons/src/main/java/rocks/theodolite/benchmarks/commons/beam/ConfigurationKeys.java
  theodolite-benchmarks/uc1-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc2-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc3-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/PipelineFactory.java
  theodolite-benchmarks/uc4-beam/src/main/resources/META-INF/application.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Allow configuring max.poll.records
  theodolite-benchmarks/beam-commons/src/main/java/rocks/theodolite/benchmarks/commons/beam/AbstractPipelineFactory.java
  theodolite-benchmarks/beam-commons/src/main/java/rocks/theodolite/benchmarks/commons/beam/ConfigurationKeys.java
  theodolite-benchmarks/uc1-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc2-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc3-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc4-beam/src/main/resources/META-INF/application.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add debug logs to Firestore sink
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/firestore/FirestoreSink.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix wrong key
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/firestore/FirestoreSink.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Added ExecutionRunner and ExperimentRunner, started with KubernetesExecutionRunner
  theodolite/src/main/kotlin/rocks/theodolite/core/Config.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/ExecutionRunner.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/ExperimentRunner.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/IOHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/Results.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/StrategyFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/restrictionstrategy/LowerBoundRestriction.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/restrictionstrategy/RestrictionStrategy.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/RestrictionSearch.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/benchmark/Resources.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/benchmark/Slo.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/BenchmarkExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/ExperimentRunnerImpl.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/KubernetesExecutionRunner.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/Shutdown.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/operator/BenchmarkStateChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/PatcherDefinitionFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/evaluation/SloConfigHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/standalone/TheodoliteStandalone.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/TypeName.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/RestrictionSearchTest.kt
  theodolite/src/test/kotlin/theodolite/TestBenchmarkExecutorImpl.kt
  theodolite/src/test/kotlin/theodolite/TestExperimentRunnerImpl.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkCRDummy.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkStateCheckerTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/SloFactoryTest.kt
  theodolite/src/test/kotlin/theodolite/strategies/restriction/LowerBoundRestrictionTest.kt
  theodolite/src/test/kotlin/theodolite/util/IOHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/util/ResultsTest.kt
Due: deploy-theodolite

Add custom async Firestore writer
  theodolite-benchmarks/uc1-beam/build.gradle
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/ConverterAdapter.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/SinkType.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/firestore/custom/CustomFirestoreSink.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/firestore/custom/FirestoreWriter.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/firestore/custom/MapConverter.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Coder for ActivePowerRecord
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Upgrade Quarkus version
  theodolite/gradle.properties
Due: deploy-theodolite

Fix breaking changes in Kubernetes Client
  theodolite/src/main/kotlin/theodolite/benchmark/ActionCommand.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/AbstractStateHandler.kt
Due: deploy-theodolite

Make HTTP connection timeout configurable
  docs/theodolite-benchmarks/load-generator.md
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/ConfigurationKeys.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/EnvVarLoadGeneratorFactory.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/HttpRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/LoadGenerator.java
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/HttpRecordSenderTest.java
Due: build-docs, test-docs-links, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix timeunit
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/EnvVarLoadGeneratorFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add WIP of replacing K8s loader classes
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
  theodolite/src/main/kotlin/theodolite/benchmark/FileSystemResourceSet.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
  theodolite/src/main/kotlin/theodolite/benchmark/ResourceSets.kt
  theodolite/src/main/kotlin/theodolite/k8s/CustomResourceWrapper.kt
  theodolite/src/main/kotlin/theodolite/k8s/K8sContextFactory.kt
  theodolite/src/main/kotlin/theodolite/k8s/K8sManager.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/AbstractK8sLoader.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/K8sResourceLoader.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/K8sResourceLoaderFromFile.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/K8sResourceLoaderFromString.kt
  theodolite/src/test/kotlin/MockServerUtils.kt
  theodolite/src/test/kotlin/theodolite/ResourceLimitPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/ResourceRequestPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/benchmark/FileSystemResourceSetTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/StateHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/k8s/K8sManagerTest.kt
  theodolite/src/test/kotlin/theodolite/k8s/K8sResourceLoaderTest.kt
Due: deploy-theodolite

Try fixing #354
  theodolite/src/test/kotlin/theodolite/util/IOHandlerTest.kt
Due: deploy-theodolite

Use generic load command
  theodolite/src/test/kotlin/theodolite/k8s/K8sManagerTest.kt
Due: deploy-theodolite

Refactor test class
  theodolite/src/test/kotlin/theodolite/k8s/K8sManagerTest.kt
Due: deploy-theodolite

Improve code style
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
Due: deploy-theodolite

Fix ConfigMapResourceSet test
  theodolite/src/test/kotlin/theodolite/benchmark/ConfigMapResourceSetTest.kt
Due: deploy-theodolite

Fix FileSystemResourceSet tests
  theodolite/src/main/kotlin/theodolite/benchmark/FileSystemResourceSet.kt
  theodolite/src/test/kotlin/theodolite/benchmark/FileSystemResourceSetTest.kt
Due: deploy-theodolite

Cleanup code
  theodolite/src/main/kotlin/theodolite/util/YamlParserFromFile.kt
  theodolite/src/main/kotlin/theodolite/util/YamlParserFromString.kt
  theodolite/src/test/kotlin/theodolite/benchmark/ConfigMapResourceSetTest.kt
  theodolite/src/test/kotlin/theodolite/k8s/K8sManagerTest.kt
Due: deploy-theodolite

Increase heap size for tests
  theodolite/build.gradle
Due: deploy-theodolite

Remove commented out and deprecated code
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
  theodolite/src/main/kotlin/theodolite/benchmark/FileSystemResourceSet.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/k8s/K8sManager.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/AbstractK8sLoader.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/K8sResourceLoader.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/K8sResourceLoaderFromFile.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/K8sResourceLoaderFromString.kt
  theodolite/src/main/kotlin/theodolite/util/PatcherDefinition.kt
  theodolite/src/test/kotlin/MockServerUtils.kt
  theodolite/src/test/kotlin/theodolite/benchmark/FileSystemResourceSetTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/StateHandlerTest.kt
  theodolite/src/test/kotlin/theodolite/k8s/K8sManagerTest.kt
  theodolite/src/test/kotlin/theodolite/k8s/K8sResourceLoaderTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/ResourceLimitPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/ResourceRequestPatcherTest.kt
Due: deploy-theodolite

Remove CustomResourceWrapper class
  theodolite/src/main/kotlin/theodolite/k8s/CustomResourceWrapper.kt
Due: deploy-theodolite

Add hint on compiler warning
  theodolite/src/main/kotlin/theodolite/benchmark/ResourceSets.kt
Due: deploy-theodolite

Fix error when ommiting files property in ResourceSets
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
  theodolite/src/main/kotlin/theodolite/benchmark/FileSystemResourceSet.kt
Due: deploy-theodolite

Fixed Problems with KubernetesExecutionRunner
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Main.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Shutdown.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/ExperimentRunnerImpl.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/KubernetesExecutionRunner.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkStateChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ClusterSetup.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/EventCreator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/standalone/TheodoliteStandalone.kt
  theodolite/src/test/kotlin/theodolite/benchmark/ActionCommandTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkStateCheckerTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ControllerTest.kt
Due: deploy-theodolite

Minor code quality improvements
  theodolite/src/main/kotlin/theodolite/execution/operator/LeaderElector.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteOperator.kt
Due: deploy-theodolite

Minor fix in log message
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
Due: deploy-theodolite

Minor fix in logs
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
Due: deploy-theodolite

Code cleanup
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/PipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/pubsub/PubSubEncoder.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/pubsub/PubSubSource.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Enable topic operator per default
  helm/templates/theodolite/role.yaml
  helm/values.yaml
Due: none

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
