Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

Closes 346
  helm/Chart.yaml
  helm/templates/strimzi/kafka-cluster.yaml
  helm/templates/strimzi/kafka-config.yaml
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
  helm/values.yaml
Due: none

Add hazelcastjet uc1 smoketest
  theodolite-benchmarks/docker-test/uc1-hazelcastjet-docker-compose/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Update Lag Exporter repo, fix #346
  helm/Chart.yaml
Due: none

Release Theodolite v0.6.4
  CITATION.cff
  codemeta.json
  docs/index.yaml
  execution/theodolite.yaml
  helm/Chart.yaml
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
  theodolite/README.md
  theodolite/build.gradle
Due: build-docs, test-docs-links, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Add v0.6.4 release to index
  CITATION.cff
  codemeta.json
  docs/index.yaml
Due: build-docs, test-docs-links

Repare v0.5.2 release
  CITATION.cff
  codemeta.json
  execution/theodolite.yaml
  helm/Chart.yaml
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-load-generator-deployment.yaml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Release Theodolite v0.5.2
  docs/index.yaml
Due: build-docs, test-docs-links

Smoke test hazelcast uc 2-3, fix uc4 docker + first version not working version of uc4 smoke test
  theodolite-benchmarks/docker-test/uc2-hazelcastjet-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-hazelcastjet-docker-compose/test.sh
  theodolite-benchmarks/docker-test/uc3-hazelcastjet-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-hazelcastjet-docker-compose/test.sh
  theodolite-benchmarks/docker-test/uc4-hazelcastjet-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-hazelcastjet-docker-compose/test.sh
  theodolite-benchmarks/uc4-hazelcastjet/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add v0.5.2 release to index
  docs/index.yaml
Due: build-docs, test-docs-links

Fix digest and created fields
  docs/index.yaml
Due: build-docs, test-docs-links

Fix checkstyle warnings
  theodolite-benchmarks/uc1-beam/src/main/java/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/WriterAdapter.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/WriterAdapter.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Introduce generic interface for database storage
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.kstreams.gradle
  theodolite-benchmarks/settings.gradle
  theodolite-benchmarks/uc1-beam/build.gradle
  theodolite-benchmarks/uc1-beam/src/main/java/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/LogKeyValue.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/MapToGson.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/WriterAdapter.java
  theodolite-benchmarks/uc1-commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc1-commons/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/uc1-commons/.settings/qa.eclipse.plugin.pmd.prefs
  theodolite-benchmarks/uc1-commons/build.gradle
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/DatabaseAdapter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/DatabaseWriter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/RecordConverter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/logger/JsonConverter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/logger/LogWriter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/logger/LogWriterFactory.java
  theodolite-benchmarks/uc1-flink/build.gradle
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/GsonMapper.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/WriterAdapter.java
  theodolite-benchmarks/uc1-kstreams/build.gradle
  theodolite-benchmarks/uc1-kstreams/src/main/java/theodolite/uc1/streamprocessing/TopologyBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix PMD warnings
  theodolite-benchmarks/uc1-beam/src/main/java/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/WriterAdapter.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Repair hazelcastjet uc4 test
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/theodolite/uc4/application/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Replace cp kafka connection strings with strimzi connection string
  docs/creating-a-benchmark.md
  helm/templates/prometheus/prometheus.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
  helm/templates/theodolite/role.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-configmap.yaml
  theodolite/examples/resources/uc1-kstreams-deployment.yaml
  theodolite/examples/resources/uc1-load-generator-deployment.yaml
  theodolite/examples/standalone/example-benchmark.yaml
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
Due: build-docs, test-docs-links, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Start to replace metrics
  helm/templates/grafana/dashboard-config-map.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
Due: none

Fixed execution yaml definition issues
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/test/kotlin/theodolite/util/ResultsTest.kt
  theodolite/src/test/resources/k8s-resource-files/test-execution-1.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution-update.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution.yaml
Due: test-docs-crds-regression, deploy-theodolite

Change to the correct amount of nestedgroups (3) uc4 hazelcastjet docker-compose
  theodolite-benchmarks/docker-test/uc4-hazelcastjet-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Tests for adjusted yaml passes tests now
  theodolite/src/test/resources/k8s-resource-files/test-execution-1.yaml
Due: deploy-theodolite

Updated cdr reference page due to typo
  docs/api-reference/crds.md
  theodolite/crd/crd-execution.yaml
  theodolite/examples/operator/example-execution.yaml
Due: build-docs, test-docs-links, test-docs-crds-regression, deploy-theodolite

Comments and Clean-up
  theodolite/crd/crd-execution.yaml
  theodolite/examples/operator/example-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/Benchmark.kt
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutor.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/StrategyFactory.kt
  theodolite/src/main/kotlin/theodolite/strategies/restriction/LowerBoundRestriction.kt
  theodolite/src/main/kotlin/theodolite/strategies/restriction/RestrictionStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/GuessStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/PrevInstanceOptGuess.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/PrevResourceMinGuess.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/RestrictionSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/util/Config.kt
  theodolite/src/main/kotlin/theodolite/util/Results.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/ExecutionCRDummy.kt
  theodolite/src/test/kotlin/theodolite/util/ResultsTest.kt
  theodolite/src/test/resources/k8s-resource-files/test-execution-1.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution-update.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution.yaml
Due: test-docs-crds-regression, deploy-theodolite

Change uc4 hazelcastjet output to ActivePowerRecords + smoke test
  theodolite-benchmarks/docker-test/uc4-hazelcastjet-docker-compose/test.sh
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/HistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/ValueGroup.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/ValueGroupSerializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/theodolite/uc4/application/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Make Grafana dashboard more generic
  helm/templates/grafana/dashboard-config-map.yaml
  helm/templates/strimzi/kafka-cluster.yaml
Due: none

Fix Beam smoketests
  theodolite-benchmarks/docker-test/uc1-beam-flink/test.sh
  theodolite-benchmarks/docker-test/uc1-beam-samza/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Flink dependency conflict
  theodolite-benchmarks/uc1-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Set default kafka properties
  helm/templates/strimzi/kafka-cluster.yaml
Due: none

Improve structure of helm chart
  helm/Chart.yaml
  helm/templates/strimzi/kafka-cluster.yaml
  helm/templates/strimzi/kafka-metrics-configmap.yaml
  helm/values.yaml
Due: none

Change slo consumer lag metric
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
Due: deploy-theodolite

Add jvm options
  helm/values.yaml
Due: none

Use input and output topic for grafana dashboard
  helm/templates/grafana/dashboard-config-map.yaml
Due: none

Fix go templates
  helm/Chart.yaml
  helm/templates/strimzi/kafka-cluster.yaml
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
  helm/templates/strimzi/kafka-metrics-configmap.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
  helm/values.yaml
Due: none

Update strimzi to 0.28.0
  helm/Chart.yaml
Due: none

Add basic firestore implementation
  theodolite-benchmarks/uc1-beam/build.gradle
  theodolite-benchmarks/uc1-beam/src/main/java/application/GenericSink.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/SinkFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/SinkType.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/DocumentMapper.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/FirestoreConfig.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/FirestoreSink.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/UpdateOperationMapper.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Adjust grafana dashboard metrics, prometheus scrape interval, and slo checker
  helm/templates/grafana/dashboard-config-map.yaml
  helm/templates/prometheus/prometheus.yaml
  slo-checker/record-lag/app/main.py
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
Due: deploy-theodolite, test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Use theodolite operator image
  helm/values.yaml
Due: none

Fix QA warnings
  theodolite-benchmarks/uc1-beam/src/main/java/application/GenericSink.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/SinkFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/SinkType.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/DocumentMapper.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/FirestoreConfig.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/firestore/FirestoreSink.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks
