Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href ./_site

build-docs-crds:
  stage: build
  image:
    name: ghcr.io/fybrik/crdoc:0.6.1
    entrypoint:
    - ''
  script: /crdoc --resources theodolite/crd/ --template docs/api-reference/crds.tmpl --output docs/api-reference/crds.ref.md
  artifacts:
    paths:
    - docs/api-reference/crds.ref.md
    expire_in: 1 week

lint-helm:
  stage: check
  needs: []
  image:
    name: alpine/helm:3.5.2
    entrypoint:
    - ''
  script: helm lint helm/

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

build-theodolite-jvm:
  image:
    name: ghcr.io/graalvm/native-image:java11-21.3.0
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite
  stage: build
  ...

Add slo name for csv writter
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add slo index + underscore for csv writer
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Extend application.properties hazelcast-jet
  theodolite-benchmarks/uc2-hazelcastjet/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc3-hazelcastjet/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc4-hazelcastjet/src/main/resources/META-INF/application.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Extend commons-hazelcastjet infrastructure
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/HazelcastJetService.java
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Extend KafkaPropertiesBuilder commons-hazelcastjet
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/KafkaPropertiesBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor new uc1-hazelcastjet structure
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add uc2,3,4 PipelineFactories
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add NewHistoryServices
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/NewHistoryService.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Revert CRD docs
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Now performing null check on fields appropriately
  theodolite/src/main/kotlin/theodolite/benchmark/ResourceSets.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

testing ResourceSets#loadResourceSet(..) by creating ResourceSets Objects from yaml
  theodolite/src/test/kotlin/theodolite/benchmark/ResourceSetsTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

bugfix set from parameter after setup is done
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Align uc3 to the other impls to use days instead of seconds
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Also align the uc3 HazelcastJetFactory
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3HazelcastJetFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Adjust uc3 new impl names
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Adapt hazelcast ConfigurationKeys to application.properties
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/ConfigurationKeys.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor to use new hzj impl uc4
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor uc4 pipeline test to use new structures + enhance logs
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add getter for pipe in PipelineFactory for hzj pipeline tests
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/PipelineFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor uc2 hzl to use new implementation
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2HazelcastJetFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor uc2 docker-compose.yml env name
  theodolite-benchmarks/docker-test/uc2-hazelcastjet/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor uc1 hzj to use new implementation
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1HazelcastJetFactory.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1PipelineBuilder.java
  theodolite-benchmarks/uc1-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc1/hazelcast/Uc1PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor uc3 hzj to use new implementation
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3HazelcastJetFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

enhance test and fix to int casting for special cases
  slo-checker/generic/app/main.py
  slo-checker/generic/resources/test-1-rep-success.json
Due: test-slo-checker-generic, deploy-slo-checker-generic

Adapt AnalysisExecutor to use slo names for experiment file name
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/AnalysisExecutor.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix the default created-by-label to theodolite
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteController.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add missing slo properties to Benchmark objects
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-hazelcastjet/uc1-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/uc2-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/uc2-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/uc3-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/uc3-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/uc4-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/uc4-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix usage of wrong image
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix pmd: Add underscore to commons.kafka.WriteBuffer
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/WriteBuffer.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Move Classes from titan commons to theodolite commons
  theodolite-benchmarks/commons/build.gradle
  theodolite-benchmarks/commons/src-gen/main/avro/theodolite/commons/model/records/ActivePowerRecord.avsc
  theodolite-benchmarks/commons/src-gen/main/avro/theodolite/commons/model/records/AggregatedActivePowerRecord.avsc
  theodolite-benchmarks/commons/src-gen/main/avro/theodolite/commons/model/records/DayOfWeekActivePowerRecord.avsc
  theodolite-benchmarks/commons/src-gen/main/avro/theodolite/commons/model/records/HourOfDayActivePowerRecord.avsc
  theodolite-benchmarks/commons/src-gen/main/avro/theodolite/commons/model/records/HourOfWeekActivePowerRecord.avsc
  theodolite-benchmarks/commons/src-gen/main/avro/theodolite/commons/model/records/MonthOfYearActivePowerRecord.avsc
  theodolite-benchmarks/commons/src-gen/main/avro/theodolite/commons/model/records/YearActivePowerRecord.avsc
  theodolite-benchmarks/commons/src-gen/main/java/theodolite/commons/model/records/ActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/theodolite/commons/model/records/AggregatedActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/theodolite/commons/model/records/DayOfWeekActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/theodolite/commons/model/records/HourOfDayActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/theodolite/commons/model/records/HourOfWeekActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/theodolite/commons/model/records/MonthOfYearActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/theodolite/commons/model/records/YearActivePowerRecord.java
  theodolite-benchmarks/commons/src/main/avro/ActivePower.avdl
  theodolite-benchmarks/commons/src/main/avro/AggregatedActivePower.avdl
  theodolite-benchmarks/commons/src/main/avro/StatsActivePower.avdl
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/commons/configuration/NameResolvingEnvironmentConfiguration.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/commons/configuration/ServiceConfigurations.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/configuration/events/Event.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/configuration/events/EventSerde.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/AbstractSensor.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/AggregatedSensor.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/ImmutableSensorRegistry.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/MachineSensor.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/MachineSensorImpl.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/MutableAggregatedSensor.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/MutableSensorRegistry.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/Sensor.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/SensorRegistry.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/serialization/AggregatedSensorSerializer.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/serialization/MachineSensorSerializer.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/serialization/SensorRegistryDeserializer.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/serialization/SensorRegistrySerializer.java
  theodolite-benchmarks/settings.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Move titan-kafka into theodolite commons and ks-commons
  theodolite-benchmarks/commons/build.gradle
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/avro/SchemaRegistryAvroSerdeFactory.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/BufferConstants.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/BufferDeserializer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/BufferSerde.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/BufferSerializer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/ReadBuffer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/SimpleDeserializer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/SimpleSerdes.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/SimpleSerializer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/commons/kafka/simpleserdes/WriteBuffer.java
  theodolite-benchmarks/kstreams-commons/src/main/java/rocks/theodolite/benchmarks/commons/kstreams/GenericSerde.java
  theodolite-benchmarks/kstreams-commons/src/main/java/rocks/theodolite/benchmarks/commons/kstreams/PropertiesBuilder.java
  theodolite-benchmarks/kstreams-commons/src/main/java/rocks/theodolite/benchmarks/commons/kstreams/PropertiesBuilderImpl.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Generate setters in avro shemas in commons project
  theodolite-benchmarks/beam-commons/build.gradle
  theodolite-benchmarks/commons/src-gen/main/java/rocks/theodolite/commons/model/records/ActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/rocks/theodolite/commons/model/records/AggregatedActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/rocks/theodolite/commons/model/records/DayOfWeekActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/rocks/theodolite/commons/model/records/HourOfDayActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/rocks/theodolite/commons/model/records/HourOfWeekActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/rocks/theodolite/commons/model/records/MonthOfYearActivePowerRecord.java
  theodolite-benchmarks/commons/src-gen/main/java/rocks/theodolite/commons/model/records/YearActivePowerRecord.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix code style issues
  theodolite-benchmarks/commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/commons/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/commons/.settings/qa.eclipse.plugin.pmd.prefs
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/ImmutableSensorRegistry.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/MutableSensorRegistry.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/serialization/AggregatedSensorSerializer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/serialization/MachineSensorSerializer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/serialization/SensorRegistryDeserializer.java
  theodolite-benchmarks/commons/src/main/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/serialization/SensorRegistrySerializer.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/benchmarks/commons/common/configuration/NameResolvingEnvironmentConfigurationTest.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/ExampleSensors.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/ImmutableSensorRegistryTest.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/MaschineSensorImplExposer.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/benchmarks/commons/model/sensorregistry/MutableSensorRegistryTest.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1HazelcastJetFactory.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1PipelineBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2HazelcastJetFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/TopologyBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Exclude source-gen from code style plugins
  theodolite-benchmarks/commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix broken dependecies & Remove un-throwen exception for CS
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/ImmutableSensorRegistry.java
  theodolite-benchmarks/commons/src/main/java/theodolite/commons/model/sensorregistry/serialization/SensorRegistryDeserializer.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Move test from titan commons
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/commons/common/configuration/NameResolvingEnvironmentConfigurationTest.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/commons/model/sensorregistry/ExampleSensors.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/commons/model/sensorregistry/ImmutableSensorRegistryTest.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/commons/model/sensorregistry/MaschineSensorImplExposer.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/commons/model/sensorregistry/MutableSensorRegistryTest.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/commons/model/sensorregistry/serialization/SensorRegistryDeserializerTest.java
  theodolite-benchmarks/commons/src/test/java/rocks/theodolite/commons/model/sensorregistry/serialization/SensorRegistrySerializerTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Build container if commons change
  .gitlab-ci.yml
Due: none

Adapt dependencies of uc1-4 kstreams
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.kstreams.gradle
  theodolite-benchmarks/commons/build.gradle
  theodolite-benchmarks/kstreams-commons/src/main/java/rocks/theodolite/benchmarks/commons/kstreams/KafkaStreamsBuilder.java
  theodolite-benchmarks/uc1-commons/build.gradle
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/DatabaseAdapter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/RecordConverter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/logger/JsonConverter.java
  theodolite-benchmarks/uc1-kstreams/src/main/java/rocks/theodolite/benchmarks/uc1/kstreams/HistoryService.java
  theodolite-benchmarks/uc1-kstreams/src/main/java/rocks/theodolite/benchmarks/uc1/kstreams/TopologyBuilder.java
  theodolite-benchmarks/uc1-kstreams/src/main/java/rocks/theodolite/benchmarks/uc1/kstreams/Uc1KafkaStreamsBuilder.java
  theodolite-benchmarks/uc2-kstreams/src/main/java/rocks/theodolite/benchmarks/uc2/kstreams/HistoryService.java
  theodolite-benchmarks/uc2-kstreams/src/main/java/rocks/theodolite/benchmarks/uc2/kstreams/TopologyBuilder.java
  theodolite-benchmarks/uc2-kstreams/src/main/java/rocks/theodolite/benchmarks/uc2/kstreams/Uc2KafkaStreamsBuilder.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HistoryService.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HourOfDayKeySerde.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/HourOfDayRecordFactory.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/TopologyBuilder.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/rocks/theodolite/benchmarks/uc3/kstreams/Uc3KafkaStreamsBuilder.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/AggregationService.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/ChildParentsTransformer.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/ChildParentsTransformerSupplier.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/JointFlatTransformer.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/JointFlatTransformerSupplier.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/JointRecordParents.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/OptionalParentsSerde.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/ParentsSerde.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/RecordAggregator.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/SensorParentKeySerde.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/TopologyBuilder.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/rocks/theodolite/benchmarks/uc4/kstreams/Uc4KafkaStreamsBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
