Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-theodolite, deploy-slo-checker-lag-trend, deploy-random-scheduler

deploy-theodolite:
  image: docker:19.03.1
  tags:
  - exec-dind
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
    DOCKER_TLS_CERTDIR: /certs
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite
  services:
  - docker:19.03.1-dind
  stage: deploy
  needs:
  ...

deploy-slo-checker-lag-trend:
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
  stage: deploy
  needs:
  - test-slo-checker-lag-trend
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-random-scheduler:
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
  stage: deploy
  needs: []
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

use the composition over inheritance patter for DataVolumeLoadGeneratorReplicaPatcher
  theodolite/src/main/kotlin/theodolite/patcher/DataVolumeLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/PatcherFactory.kt
Due: deploy-theodolite

Seal EnvVarPatcher
  theodolite/src/main/kotlin/theodolite/patcher/EnvVarPatcher.kt
Due: deploy-theodolite

enhance throwing and catching of excpetions
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/MetricFetcher.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/ClusterSetup.kt
  theodolite/src/main/kotlin/theodolite/k8s/K8sResourceLoader.kt
  theodolite/src/main/kotlin/theodolite/patcher/PatcherFactory.kt
  theodolite/src/main/kotlin/theodolite/util/DeploymentFailedException.kt
  theodolite/src/main/kotlin/theodolite/util/EvaluationFailedException.kt
  theodolite/src/main/kotlin/theodolite/util/ExecutionFailedException.kt
  theodolite/src/main/kotlin/theodolite/util/InvalidPatcherConfigurationException.kt
  theodolite/src/main/kotlin/theodolite/util/TheodoliteException.kt
Due: deploy-theodolite

catch exceptions in the correct order
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteStandalone.kt
Due: deploy-theodolite

minor code changes
  theodolite/src/main/kotlin/theodolite/execution/operator/EventCreator.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteOperator.kt
  theodolite/src/main/kotlin/theodolite/util/Configuration.kt
Due: deploy-theodolite

Enhance exception handling
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
  theodolite/src/main/kotlin/theodolite/benchmark/FileSystemResourceSet.kt
  theodolite/src/main/kotlin/theodolite/util/DeploymentFailedException.kt
Due: deploy-theodolite

Fix documentation for Helm 3
  helm/README.md
Due: none

make excpetion handling understandable
  theodolite/src/main/kotlin/theodolite/patcher/PatcherFactory.kt
  theodolite/src/main/kotlin/theodolite/util/InvalidPatcherConfigurationException.kt
Due: deploy-theodolite

fix accessing incorrect name field while deleting an running execution
  theodolite/src/main/kotlin/theodolite/execution/operator/ExecutionEventHandler.kt
Due: deploy-theodolite

add terminationGracePeriodSeconds of 0 to end pods in executions directly
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
Due: none

update grafana dashboard to show topics of ospbench
  helm/templates/grafana/dashboard-config-map.yaml
Due: none

create for osp bench a second dashboard
  helm/templates/grafana/osp-dashboard-config-map.yaml
Due: none

use lag trend ratio instead of percent
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
Due: deploy-theodolite

Load paramter via quarkus configuration mechanism
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
  theodolite/src/main/kotlin/theodolite/util/TheodoliteConfig.kt
  theodolite/src/main/resources/application.properties
Due: deploy-theodolite

minor code changes in evaluation related parts
  helm/templates/theodolite/crd-execution.yaml
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloCheckerFactory.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloTypes.kt
  theodolite/src/main/resources/application.properties
Due: deploy-theodolite

fix incorrect test configuration
  theodolite/src/test/resources/k8s-resource-files/test-execution-update.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution.yaml
Due: deploy-theodolite

restructure SLOs, add new dropped-records SLO
  slo-checker/dropped-records/Dockerfile
  slo-checker/dropped-records/README.md
  slo-checker/dropped-records/app/main.py
  slo-checker/dropped-records/app/test.py
  slo-checker/dropped-records/requirements.txt
  slo-checker/dropped-records/resources/test-1-rep-success.json
  slo-checker/record-lag/Dockerfile
  slo-checker/record-lag/README.md
  slo-checker/record-lag/app/main.py
  slo-checker/record-lag/app/test.py
  slo-checker/record-lag/app/trend_slope_computer.py
  slo-checker/record-lag/requirements.txt
  slo-checker/record-lag/resources/test-1-rep-success.json
  slo-checker/record-lag/resources/test-3-rep-success.json
  slope-evaluator/README.md
Due: deploy-slo-checker-lag-trend

update ci in order to test both slo checker correctly
  .gitlab-ci.yml
Due: none

Delete unused config class
  theodolite/src/main/kotlin/theodolite/util/TheodoliteConfig.kt
Due: deploy-theodolite

clean up
  helm/jmx-custom-map.yaml
  theodolite/examples/operator/example-execution.yaml
  theodolite/examples/standalone/example-execution.yaml
  theodolite/src/test/kotlin/theodolite/CompositeStrategyTest.kt
Due: deploy-theodolite

reset changes in application properties
  theodolite/src/main/resources/application.properties
Due: deploy-theodolite

Add uc1:beam-samza
  theodolite-benchmarks/config/samza-standalone.properties
  theodolite-benchmarks/settings.gradle
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc1-beam-samza/build.gradle
  theodolite-benchmarks/uc1-beam-samza/doc/allclasses-frame.html
  theodolite-benchmarks/uc1-beam-samza/doc/allclasses-noframe.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/ActivePowerRecordDeserializer.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/ActivePowerRecordSerializer.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/IMonitoringRecordSerde2.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/Uc1ApplicationBeam.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/class-use/ActivePowerRecordDeserializer.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/class-use/ActivePowerRecordSerializer.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/class-use/IMonitoringRecordSerde2.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/class-use/Uc1ApplicationBeam.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/package-frame.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/package-summary.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/package-tree.html
  theodolite-benchmarks/uc1-beam-samza/doc/application/package-use.html
  theodolite-benchmarks/uc1-beam-samza/doc/constant-values.html
  theodolite-benchmarks/uc1-beam-samza/doc/deprecated-list.html
  theodolite-benchmarks/uc1-beam-samza/doc/help-doc.html
  theodolite-benchmarks/uc1-beam-samza/doc/index-files/index-1.html
  theodolite-benchmarks/uc1-beam-samza/doc/index-files/index-2.html
  theodolite-benchmarks/uc1-beam-samza/doc/index-files/index-3.html
  theodolite-benchmarks/uc1-beam-samza/doc/index-files/index-4.html
  theodolite-benchmarks/uc1-beam-samza/doc/index-files/index-5.html
  theodolite-benchmarks/uc1-beam-samza/doc/index-files/index-6.html
  theodolite-benchmarks/uc1-beam-samza/doc/index-files/index-7.html
  theodolite-benchmarks/uc1-beam-samza/doc/index.html
  theodolite-benchmarks/uc1-beam-samza/doc/overview-tree.html
  theodolite-benchmarks/uc1-beam-samza/doc/package-list
  theodolite-benchmarks/uc1-beam-samza/doc/script.js
  theodolite-benchmarks/uc1-beam-samza/doc/stylesheet.css
  theodolite-benchmarks/uc1-beam-samza/src/main/java/application/Uc1ApplicationBeam.java
Due: none

Add uc1-beam-flink
  theodolite-benchmarks/settings.gradle
  theodolite-benchmarks/uc1-beam-flink/Dockerfile
  theodolite-benchmarks/uc1-beam-flink/build.gradle
  theodolite-benchmarks/uc1-beam-flink/doc/allclasses-frame.html
  theodolite-benchmarks/uc1-beam-flink/doc/allclasses-noframe.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/ActivePowerRecordDeserializer.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/ActivePowerRecordSerializer.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/IMonitoringRecordSerde2.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/Uc1ApplicationBeam.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/class-use/ActivePowerRecordDeserializer.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/class-use/ActivePowerRecordSerializer.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/class-use/IMonitoringRecordSerde2.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/class-use/Uc1ApplicationBeam.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/package-frame.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/package-summary.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/package-tree.html
  theodolite-benchmarks/uc1-beam-flink/doc/application/package-use.html
  theodolite-benchmarks/uc1-beam-flink/doc/constant-values.html
  theodolite-benchmarks/uc1-beam-flink/doc/deprecated-list.html
  theodolite-benchmarks/uc1-beam-flink/doc/help-doc.html
  theodolite-benchmarks/uc1-beam-flink/doc/index-files/index-1.html
  theodolite-benchmarks/uc1-beam-flink/doc/index-files/index-2.html
  theodolite-benchmarks/uc1-beam-flink/doc/index-files/index-3.html
  theodolite-benchmarks/uc1-beam-flink/doc/index-files/index-4.html
  theodolite-benchmarks/uc1-beam-flink/doc/index-files/index-5.html
  theodolite-benchmarks/uc1-beam-flink/doc/index-files/index-6.html
  theodolite-benchmarks/uc1-beam-flink/doc/index-files/index-7.html
  theodolite-benchmarks/uc1-beam-flink/doc/index.html
  theodolite-benchmarks/uc1-beam-flink/doc/overview-tree.html
  theodolite-benchmarks/uc1-beam-flink/doc/package-list
  theodolite-benchmarks/uc1-beam-flink/doc/script.js
  theodolite-benchmarks/uc1-beam-flink/doc/stylesheet.css
  theodolite-benchmarks/uc1-beam-flink/src/main/java/application/Uc1ApplicationBeam.java
Due: none

Upgrade PMD to next version 6.8
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.java-conventions.gradle
Due: none

RM unnecesary dependencies from uc1-beam
  theodolite-benchmarks/uc1-beam-flink/build.gradle
  theodolite-benchmarks/uc1-beam-samza/build.gradle
Due: none

Add serialUID to uc1-beam-samza
  theodolite-benchmarks/uc1-beam-samza/src/main/java/application/Uc1ApplicationBeam.java
Due: none

Refactor uc1-beam for checkstyle, pmd, spotbugs
  theodolite-benchmarks/uc1-beam-flink/src/main/java/application/Uc1ApplicationBeam.java
  theodolite-benchmarks/uc1-beam-samza/src/main/java/application/Uc1ApplicationBeam.java
Due: none

Migrate uc2-beam-flink + Code cleanup
  theodolite-benchmarks/settings.gradle
  theodolite-benchmarks/uc2-beam-flink/Dockerfile
  theodolite-benchmarks/uc2-beam-flink/build.gradle
  theodolite-benchmarks/uc2-beam-flink/src/main/java/application/StatsAggregation.java
  theodolite-benchmarks/uc2-beam-flink/src/main/java/application/Uc2ApplicationBeam.java
Due: none

Migrate uc3-beam-flink
  theodolite-benchmarks/settings.gradle
  theodolite-benchmarks/uc3-beam-flink/Dockerfile
  theodolite-benchmarks/uc3-beam-flink/build.gradle
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/EventTimePolicy.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/HourOfDayKey.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/HourOfDayKeyFactory.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/HourOfDayKeySerde.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/HourOfDaykeyCoder.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/StatsAggregation.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/StatsKeyFactory.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/Uc3ApplicationBeam.java
Due: none

Migrate uc4-beam-samza additional naive upgrade to Titan Control Center Commons 0.1.0 (new ActivePowerRecords,...)
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/build.gradle
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/AggregatedActivePowerRecordEventTimePolicy.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/EventTimePolicy.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/GenerateParentsFn.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/RecordAggregation.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/SensorParentKey.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/Uc4ApplicationBeam.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/Uc4ApplicationBeamNoFeedback.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/UpdateChildParentPairs.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/serialization/AggregatedActivePowerRecordCoder.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/serialization/AggregatedActivePowerRecordDeserializer.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/serialization/AggregatedActivePowerRecordSerializer.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/serialization/EventCoder.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/serialization/EventDeserializer.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/serialization/SensorParentKeyCoder.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/serialization/SensorParentKeySerde.java
Due: none

Add migrated uc4-beam-samza to settings.gradle
  theodolite-benchmarks/settings.gradle
Due: none

uc3-beam-flink Rm cs + sp warnings but pmd remain
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/EventTimePolicy.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/HourOfDayKey.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/HourOfDaykeyCoder.java
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/Uc3ApplicationBeam.java
Due: none

Repair uc3-beam-flink HourOfDaykeyCoder
  theodolite-benchmarks/uc3-beam-flink/src/main/java/application/HourOfDaykeyCoder.java
Due: none

Enhance handling of custom resource definitions within helm
  helm/README.md
  helm/crds/benchmark.yaml
  helm/crds/execution.yaml
  helm/templates/theodolite/crd-benchmark.yaml
  helm/templates/theodolite/crd-execution.yaml
  helm/values.yaml
Due: none

Fix typo
  helm/README.md
Due: none

Make partitions and replication factor optional
  theodolite/crd/crd-benchmark.yaml
Due: deploy-theodolite

Add confluent maven reposetory to kstreams-commons
  theodolite-benchmarks/kstreams-commons/build.gradle
Due: none

Add gradle plugin for beam projects
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.gradle
Due: none

First usecase using new beam plugin
  theodolite-benchmarks/uc1-beam-flink/build.gradle
Due: none

Path conditions:
  deploy-theodolite: any of: theodolite/**/*
  deploy-slo-checker-lag-trend: any of: slope-evaluator/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
