Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq, deploy-buildimage-k3d-helm

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: util/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
  deploy-buildimage-k3d-helm: any of: buildimages/k3d-helm/Dockerfile

Skip TLS verification in dind smoketests
  theodolite-benchmarks/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

WIP: Make ExecutionReconciler the active, sole writer of Execution status
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/ExecutionState.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/ExecutionStateComparator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionEventHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionEventSource.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionStateHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunner.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/ConfigMapResourceSetTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/model/crd/CRDExecutionTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/model/crd/ExecutionStateComparatorTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ControllerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionEventHandlerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionEventHandlerTestWithInformer.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionEventHandlerWrapper.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinatorTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunnerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Run leader election off the Quarkus startup thread
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Try fixing and testing dind access to internal registry
  .gitlab-ci.yml
  theodolite-benchmarks/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove temporary test-registry-connectivity job
  .gitlab-ci.yml
  theodolite-benchmarks/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Allow setting Theodolite operator log level in Helm chart
  helm/templates/theodolite/theodolite-operator.yaml
  helm/values.yaml
Due: lint-helm

Skip startup CRD validation
  theodolite/src/main/resources/application.properties
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Scope reconcilers to the operator's own namespace
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Grant watch on configmaps for JOSDK informer
  helm/templates/theodolite/role.yaml
Due: lint-helm

Enable server-side apply for status patches
  theodolite/src/main/resources/application.properties
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Patch benchmark status via the client to avoid a 422
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/main/resources/application.properties
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Write benchmark status via UpdateControl.patchStatus
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Make Execution status persistence and run cancellation robust
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunner.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunnerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add image publish steps for benchmarks
  theodolite-benchmarks/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Re-add UC3 FLink smoketest
  theodolite-benchmarks/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Re-add publishing of UC4 Flink (but without the test)
  theodolite-benchmarks/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Disable Flink UC4 smoketest dependency
  theodolite-benchmarks/.gitlab-ci.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Benchmark status not being written on first reconcile
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/BenchmarkStatus.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix Execution status update rejected with 422
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Keep executionDuration status field updating while an execution runs
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Trigger selection immediately after a new execution becomes PENDING
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix executionDuration staying frozen while an execution runs
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add logging for resource readiness
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/RolloutManager.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Gate reconciliation on leadership and cleanup readiness
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/LeaderElector.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/OperatorReadiness.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/OperatorReadinessTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinatorTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add TODOs for adopting JOSDK's built-in leader election
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/LeaderElector.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/OperatorReadiness.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remove STANDALONE mode and dead code, document operator architecture
  docs/development/architecture.md
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ExecutionModes.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Theodolite.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/BenchmarkExecution.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/AbstractStateHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionStateHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/StateHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunner.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/standalone/TheodoliteStandalone.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/Parser.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/YamlParserFromFile.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/StateHandlerTest.kt
Due: build-docs, test-docs-links, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Bump Quarkus to 3.15.7 and Kotlin to 2.2.0
  theodolite/build.gradle
  theodolite/gradle.properties
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Upgrade operator to Quarkus 3.20 (JOSDK 5, fabric8 7, Java 21)
  .gitlab-ci.yml
  theodolite/build.gradle
  theodolite/gradle.properties
  theodolite/gradle/wrapper/gradle-wrapper.jar
  theodolite/gradle/wrapper/gradle-wrapper.properties
  theodolite/gradlew
  theodolite/gradlew.bat
  theodolite/src/main/docker/Dockerfile.jvm
  theodolite/src/main/docker/Dockerfile.legacy-jar
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/BenchmarkExecutionList.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/KubernetesBenchmarkList.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ClusterSetup.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionEventSource.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/test/kotlin/MockServerUtils.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/IOHandlerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/BenchmarkResourceTeardownTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/ConfigMapResourceSetTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/FileSystemResourceSetTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/K8sManagerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/MockServerUtils.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/ResourceSetsTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/model/crd/CRDExecutionTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinatorTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/GenericResourcePatcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/LabelPatcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/NamePatcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/ResourceLimitPatcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/patcher/ResourceRequestPatcherTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Upgrade operator to Quarkus 3.27 LTS
  theodolite/build.gradle
  theodolite/gradle.properties
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Upgrade operator to Quarkus 3.33 LTS
  theodolite/build.gradle
  theodolite/gradle.properties
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Use newer OL version for Theodolite build
  .gitlab-ci.yml
Due: none

Switch to Quarkus recommended builder image
  .gitlab-ci.yml
Due: none

Switch to eclipse-temurin build image
  .gitlab-ci.yml
Due: none

Remove the redundant BenchmarkExecution.name field
  docs/api-reference/crds.md
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/BenchmarkExecution.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ClusterSetup.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunner.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/model/crd/CRDExecutionTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/model/crd/ExecutionCRDummy.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunnerTest.kt
  theodolite/src/test/resources/k8s-resource-files/test-execution.yaml
Due: build-docs, test-docs-links, build-docs-crds, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Use explicit `this.` in `apply`s
  theodolite/src/test/kotlin/rocks/theodolite/core/IOHandlerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remove BouncyCastle
  theodolite/build.gradle
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Update test dependencies
  theodolite/build.gradle
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add KotlinLateinitModule to safely serialize uninitialized lateinit properties
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/JacksonConfig.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/KotlinLateinitModule.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/util/KotlinLateinitModuleTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Register KotlinLateinitModule on the Kubernetes client object mapper
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/JacksonConfig.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/util/KotlinLateinitModule.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/util/JacksonConfigTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/util/KotlinLateinitModuleTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite
