Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-random-scheduler

Path conditions:
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

Addd Samza kafka dependency
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.samza.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove configFactory in Dockerfiles
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc2-beam-samza/Dockerfile
  theodolite-benchmarks/uc3-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix a typo in the load generator docs
  docs/theodolite-benchmarks/load-generator.md
Due: none

Make image tag configurable via env var
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove unnecessary topic creations
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add resources for uc1-beam-flink to install-configmap
  theodolite-benchmarks/definitions/install-configmaps.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Corrected install-configmaps for uc1-beam-flink
  theodolite-benchmarks/definitions/install-configmaps.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Minor code quality fixes
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
Due: deploy-theodolite

Make Kafka config optional
  docs/api-reference/crds.md
  theodolite/crd/crd-benchmark.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
Due: deploy-theodolite

Allow Kubernetes fields ending with .yml
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
  theodolite/src/main/kotlin/theodolite/benchmark/FileSystemResourceSet.kt
Due: deploy-theodolite

Upgrade ubi-minimal version
  theodolite/src/main/docker/Dockerfile.jvm
Due: deploy-theodolite

Test downgrading ubi-minimal
  theodolite/src/main/docker/Dockerfile.jvm
Due: deploy-theodolite

Upgrade Quarkus version to 2.6
  theodolite/README.md
  theodolite/build.gradle
  theodolite/build_jvm.sh
  theodolite/build_native.sh
  theodolite/gradle.properties
  theodolite/src/main/docker/Dockerfile.jvm
  theodolite/src/main/docker/Dockerfile.legacy-jar
  theodolite/src/main/docker/Dockerfile.native
  theodolite/src/main/docker/Dockerfile.native-distroless
Due: deploy-theodolite

Add Kaniko build instructions
  theodolite/README.md
Due: deploy-theodolite

Fix recreation ob BenchmarkStateChecker
  theodolite/src/main/kotlin/theodolite/execution/operator/BenchmarkStateChecker.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
Due: deploy-theodolite

Upgrade Kafka Streams to version 3.0
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.kstreams.gradle
  theodolite-benchmarks/kstreams-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Log stack trace when execution failed
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
Due: deploy-theodolite

Fix results directory
  helm/templates/theodolite/theodolite-operator.yaml
Due: none

Define custom image
  slo-checker/record-lag/Dockerfile
  slo-checker/record-lag/app/main.py
  slo-checker/record-lag/requirements.txt
Due: test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Build custom image
  slo-checker/generic/Dockerfile
  slo-checker/generic/app/test.py
  slo-checker/generic/requirements.txt
Due: none

Fix paths in standalone job example
  execution/theodolite.yaml
Due: none

Fix path and import errors
  slo-checker/generic/Dockerfile
  slo-checker/generic/app/test.py
  slo-checker/generic/requirements.txt
  slo-checker/record-lag/Dockerfile
  slo-checker/record-lag/app/main.py
  slo-checker/record-lag/requirements.txt
Due: test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Readd requirements files for testing
  slo-checker/generic/requirements.txt
  slo-checker/record-lag/requirements.txt
Due: test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Fix generic SLO condition
  helm/templates/theodolite/theodolite-operator.yaml
Due: none

Use custom image for dropped records SLO checker
  slo-checker/dropped-records/Dockerfile
  slo-checker/dropped-records/requirements.txt
Due: test-slo-checker-dropped-records-kstreams, deploy-slo-checker-dropped-records-kstreams

Build custom images dor SLO checkers
  slo-checker/dropped-records/Dockerfile
  slo-checker/dropped-records/requirements.txt
  slo-checker/generic/Dockerfile
  slo-checker/generic/requirements.txt
  slo-checker/record-lag/Dockerfile
  slo-checker/record-lag/requirements.txt
Due: test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams

Set resource constraints for Theodolite pods
  helm/templates/theodolite/theodolite-operator.yaml
Due: none

Prepare v0.6.2 release
  CITATION.cff
  codemeta.json
  execution/theodolite.yaml
  helm/Chart.yaml
  helm/preconfigs/minimal.yaml
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
  theodolite/README.md
  theodolite/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Add v0.6.2 release to Helm index
  docs/index.yaml
Due: none

Increment version number and list current release
  CITATION.cff
  codemeta.json
  docs/index.yaml
Due: none

Fix Grafana datasource location
  helm/templates/grafana/datasource-config-map.yaml
Due: none

Let Prometheus watch all ServiceMonitors in current namespace
  helm/templates/prometheus/prometheus.yaml
Due: none

Prepare v0.6.3 release
  CITATION.cff
  codemeta.json
  docs/index.yaml
  execution/theodolite.yaml
  helm/Chart.yaml
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
  theodolite/README.md
  theodolite/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Fix uc1-beam-flink benchmark
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-beam-flink-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks
