Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

Minor code cleanup
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Draft for new service and pipeline factory
  theodolite-benchmarks/uc1-beam/src/main/java/application/AbstractPipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/BeamService.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Minor code refactroing
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractBeamService.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/kafka/KafkaGenericReader.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Configure logger as default sink
  theodolite-benchmarks/uc1-beam-flink/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc1-beam-samza/src/main/resources/META-INF/application.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor code to support pubsub
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/ConfigurationKeys.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/EnvVarLoadGeneratorFactory.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGenerator.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGeneratorTarget.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/PubSubRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/TitanPubSubSenderFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Prevent unecessary objects creation
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/EnvVarLoadGeneratorFactory.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/LoadGenerator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

updated api-reference page
  theodolite/crd/crd-execution.yaml
Due: test-docs-crds-regression, deploy-theodolite

actually updated api-reference page
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Update K8s files metadata labels and fix unit tests for slo checker
  helm/templates/strimzi/kafka-cluster.yaml
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
  helm/templates/strimzi/kafka-metrics-configmap.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
  slo-checker/record-lag/resources/test-1-rep-success.json
  slo-checker/record-lag/resources/test-3-rep-success.json
Due: test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Change K8s metadata labels
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
Due: none

Test ci
  slo-checker/record-lag/app/test.py
Due: test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Test ci
  slo-checker/record-lag/app/main.py
Due: test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Fix slo-checker tests
  slo-checker/record-lag/app/main.py
  slo-checker/record-lag/app/test.py
  slo-checker/record-lag/resources/test-3-rep-success.json
Due: test-slo-checker-lag-trend, deploy-slo-checker-lag-trend

Refine metrics used in grafana dashboard
  helm/templates/grafana/dashboard-config-map.yaml
Due: none

Add support for emulated pub/sub
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/ConfigurationKeys.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/EnvVarLoadGeneratorFactory.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/PubSubRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/theodolite/commons/workloadgeneration/TitanPubSubSenderFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Adjust docs to Pub/Sub configuration
  docs/theodolite-benchmarks/load-generator.md
Due: build-docs, test-docs-links

Change hazelcast to output correct types + correct small spelling errors
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/AggregatedActivePowerRecordAccumulator.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/theodolite/uc4/application/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add basic Pub/Sub source
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/pubsub/PubSubEncoder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove hardcoded namespace
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
Due: none

Rename strimzi Kafka CRD
  docs/creating-a-benchmark.md
  helm/templates/strimzi/kafka-cluster.yaml
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-configmap.yaml
  theodolite/examples/resources/uc1-kstreams-deployment.yaml
  theodolite/examples/resources/uc1-load-generator-deployment.yaml
  theodolite/examples/standalone/example-benchmark.yaml
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
Due: build-docs, test-docs-links, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Implemented review suggestions
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/util/Results.kt
Due: deploy-theodolite

Minor code improvement
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Create template for new Beam framework
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractBeamService.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipeline.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipelineFactory.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/BeamService.java
  theodolite-benchmarks/uc1-beam-flink/build.gradle
  theodolite-benchmarks/uc1-beam-flink/src/main/java/application/Uc1BeamFlink.java
  theodolite-benchmarks/uc1-beam-samza/src/main/java/application/Uc1BeamSamza.java
  theodolite-benchmarks/uc1-beam-samza/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc1-beam/src/main/java/application/AbstractPipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
  theodolite-benchmarks/uc1-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc2-beam-flink/src/main/java/application/Uc2BeamFlink.java
  theodolite-benchmarks/uc2-beam-samza/src/main/java/application/Uc2BeamSamza.java
  theodolite-benchmarks/uc2-beam/src/main/java/application/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix theodolite spelling in resource files
  helm/values.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc1-load-generator/resources/uc1-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc2-load-generator/resources/uc2-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc3-load-generator/resources/uc3-load-generator-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-standalone.yaml
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-configmap.yaml
  theodolite/examples/resources/uc1-kstreams-deployment.yaml
  theodolite/examples/resources/uc1-load-generator-deployment.yaml
  theodolite/examples/standalone/example-benchmark.yaml
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite

Add documentation for other release names
  docs/installation.md
Due: build-docs, test-docs-links

Add Micrometer metrics
  theodolite-benchmarks/http-bridge/build.gradle
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/JavalinWebServer.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Use Strimzi Kafka
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/uc2-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/uc3-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/resources/uc3-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/uc4-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/resources/uc4-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix typos
  theodolite-benchmarks/definitions/uc1-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix typos
  theodolite-benchmarks/definitions/install-configmaps.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align package structure for HTTP Bridge
  theodolite-benchmarks/http-bridge/build.gradle
  theodolite-benchmarks/http-bridge/src/main/java/rocks/theodolite/benchmarks/httpbridge/Deserializer.java
  theodolite-benchmarks/http-bridge/src/main/java/rocks/theodolite/benchmarks/httpbridge/Endpoint.java
  theodolite-benchmarks/http-bridge/src/main/java/rocks/theodolite/benchmarks/httpbridge/EnvVarHttpBridgeFactory.java
  theodolite-benchmarks/http-bridge/src/main/java/rocks/theodolite/benchmarks/httpbridge/GsonDeserializer.java
  theodolite-benchmarks/http-bridge/src/main/java/rocks/theodolite/benchmarks/httpbridge/HttpBridge.java
  theodolite-benchmarks/http-bridge/src/main/java/rocks/theodolite/benchmarks/httpbridge/JavalinWebServer.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix misconfigured PodMonitor
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
Due: none

Move specific load generator packages incl. mains
  theodolite-benchmarks/uc1-load-generator/build.gradle
  theodolite-benchmarks/uc1-load-generator/src/main/java/rocks/theodolite/benchmarks/uc1/loadgenerator/LoadGenerator.java
  theodolite-benchmarks/uc2-load-generator/build.gradle
  theodolite-benchmarks/uc2-load-generator/src/main/java/rocks/theodolite/benchmarks/uc2/loadgenerator/LoadGenerator.java
  theodolite-benchmarks/uc3-load-generator/build.gradle
  theodolite-benchmarks/uc3-load-generator/src/main/java/rocks/theodolite/benchmarks/uc3/loadgenerator/LoadGenerator.java
  theodolite-benchmarks/uc4-load-generator/build.gradle
  theodolite-benchmarks/uc4-load-generator/src/main/java/rocks/theodolite/benchmarks/uc4/loadgenerator/ConfigPublisher.java
  theodolite-benchmarks/uc4-load-generator/src/main/java/rocks/theodolite/benchmarks/uc4/loadgenerator/LoadGenerator.java
  theodolite-benchmarks/uc4-load-generator/src/main/java/rocks/theodolite/benchmarks/uc4/loadgenerator/SensorRegistryBuilder.java
  theodolite-benchmarks/uc4-load-generator/src/test/java/rocks/theodolite/benchmarks/uc4/loadgenerator/SensorRegistryBuilderTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor package names for K'Streams/Flink commons
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/ConfigurationKeys.java
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/KafkaConnectorFactory.java
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/StateBackends.java
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/TupleType.java
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/serialization/FlinkKafkaKeyValueSerde.java
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/serialization/StatsSerializer.java
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/util/SerializableSupplier.java
  theodolite-benchmarks/kstreams-commons/src/main/java/rocks/theodolite/benchmarks/commons/kstreams/ConfigurationKeys.java
  theodolite-benchmarks/kstreams-commons/src/main/java/rocks/theodolite/benchmarks/commons/kstreams/KafkaStreamsBuilder.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc1-kstreams/src/main/java/theodolite/uc1/streamprocessing/Uc1KafkaStreamsBuilder.java
  theodolite-benchmarks/uc2-flink/src/main/java/theodolite/uc2/application/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc2-kstreams/src/main/java/theodolite/uc2/application/HistoryService.java
  theodolite-benchmarks/uc2-kstreams/src/main/java/theodolite/uc2/streamprocessing/Uc2KafkaStreamsBuilder.java
  theodolite-benchmarks/uc3-flink/src/main/java/theodolite/uc3/application/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/theodolite/uc3/application/HistoryService.java
  theodolite-benchmarks/uc3-kstreams/src/main/java/theodolite/uc3/streamprocessing/Uc3KafkaStreamsBuilder.java
  theodolite-benchmarks/uc4-flink/src/main/java/theodolite/uc4/application/AggregationServiceFlinkJob.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/theodolite/uc4/application/AggregationService.java
  theodolite-benchmarks/uc4-kstreams/src/main/java/theodolite/uc4/streamprocessing/Uc4KafkaStreamsBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Disable livenessProbes for now
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/taskmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix partition count in dashboard
  helm/templates/grafana/dashboard-config-map.yaml
Due: none

Fix default value for UC4 load generator
  theodolite-benchmarks/definitions/uc4-load-generator/resources/uc4-load-generator-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Expose bootstrap server as environment variable
  helm/templates/kafka/kafka-client.yaml
Due: none
