Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile

Some cleanup
  theodolite-benchmarks/uc1-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Improve Dockerfile building
  .gitlab-ci.yml
  buildimages/k3d-helm/Dockerfile
Due: none

Remove curl again
  buildimages/k3d-helm/Dockerfile
Due: none

Add missing slo properties to Benchmark objects
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-hazelcastjet/uc1-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/uc2-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/uc2-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/uc3-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/uc3-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/uc4-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/uc4-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Minor Dockerfile an CI file fixes
  .gitlab-ci.yml
  buildimages/k3d-helm/Dockerfile
Due: none

Use custom image for Helm tests
  .gitlab-ci.yml
Due: none

Align Hazelcast jet implementation with others
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Guide uninstallation for Strimzi (fix #379)
  docs/installation.md
Due: build-docs, test-docs-links

make teardown faster by first sending delete command to all resources and then wait until all pods are deleted
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/K8sManager.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeployment.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Increase the number of observed records
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix indentation
  helm/templates/strimzi/entity-role.yaml
Due: lint-helm

Add Role + bindings for strimzi helm
  helm/templates/strimzi/entity-role-binding.yaml
  helm/templates/strimzi/entity-role.yaml
  helm/templates/strimzi/operator-role-binding.yaml
  helm/templates/strimzi/operator-role.yaml
Due: lint-helm

Install Strimzi without cluster admin permissions
  helm/values.yaml
Due: lint-helm

Allow deletion of K8s resources in actions
  docs/api-reference/crds.md
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
  theodolite/crd/crd-benchmark.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Action.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/DeleteCommand.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ExecCommand.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/K8sManager.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkStateChecker.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/ActionCommandTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkStateCheckerTest.kt
Due: build-docs, test-docs-links, build-docs-crds, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix compilation issue
  theodolite-benchmarks/uc2-flink/src/main/java/rocks/theodolite/benchmarks/uc2/flink/HistoryServiceFlinkJob.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix typo
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/AbstractFlinkService.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add basic support for floating point values
  slo-checker/generic/app/main.py
  slo-checker/record-lag/app/main.py
Due: test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic

Add mocking test for ExternalSloChecker
  theodolite/build.gradle
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloCheckerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add tests for parsing SLO thresholds as doubles
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactory.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloCheckerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactoryTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Minor code quality improvements
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/ConfigOverrideModifier.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/DataVolumeLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/PatchHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/ResourceLimitPatcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/ResourceRequestPatcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/TemplateLabelPatcher.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add chart icon url
  helm/Chart.yaml
Due: lint-helm

Move symlink to benchmark definitions
  helm/benchmark-definitions
  helm/benchmark-definitions/examples
  helm/benchmark-definitions/theodolite-benchmarks
  helm/templates/theodolite/benchmarks/benchmark-resources-config-map.yaml
  helm/templates/theodolite/benchmarks/benchmark.yaml
Due: lint-helm

Delete all 4 empty UcXHazelcastJetFactory.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1HazelcastJetFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2HazelcastJetFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4HazelcastJetFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Uc2 hazelcastjet: change window time to Duration
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Uc3 hazelcastjet: change window time to Duration
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/HistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/test/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add test for verifying that execution can be run
  helm/benchmark-definitions/test/test-example-execution.yaml
  helm/templates/tests/test-prometheus-connection.yaml
  helm/templates/tests/test-theodolite-example.yaml
Due: lint-helm

Increase timeout
  helm/templates/tests/test-theodolite-example.yaml
Due: lint-helm

Increase test experiment duration
  .gitlab-ci.yml
  helm/benchmark-definitions/test/test-example-execution.yaml
Due: lint-helm

Hazelcast: uc1 fix codestyle
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

HazelcastJet: uc4 fix codestyle
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/HazelcastJetService.java
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/KafkaPropertiesBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

HazelcastJet: uc2 fix codestyle
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

HazelcastJet: uc3 fix codestyle
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

HazelcastJet: uc4 fix wrong SensorRegistry
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/HistoryService.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

HazelcastJet: uc4 fix codestyle
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Further increase execution duration
  helm/benchmark-definitions/test/test-example-execution.yaml
Due: lint-helm

Fix wrong CRD group and version for UC2 Samza
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Recreate CRD docs
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Update CRD group and version
  docs/api-reference/crds.md
  docs/creating-a-benchmark.md
  docs/creating-an-execution.md
  docs/installation.md
  docs/running-benchmarks.md
  execution/infrastructure/kubernetes/rbac/role.yaml
  helm/README.md
  helm/templates/theodolite/role.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-flink/uc1-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-hazelcastjet/uc1-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/uc1-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/uc2-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/uc2-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/uc3-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/uc3-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/uc4-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/uc4-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-operator.yaml
  theodolite/crd/crd-benchmark.yaml
  theodolite/crd/crd-execution.yaml
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-execution.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/BenchmarkCRD.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/ExecutionCRD.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/main/resources/operator/example-execution-k8s-resource.yaml
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ControllerTest.kt
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution-1.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution-update.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution.yaml
Due: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Update apiVersion of test execution
  helm/benchmark-definitions/test/test-example-execution.yaml
Due: lint-helm
