Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href ./_site

test-docs-crds-regression:
  stage: test
  image: golang
  before_script:
  - cd docs
  - go install fybrik.io/crdoc@latest
  script:
  - crdoc --resources ../theodolite/crd/ --template api-reference/crds.tmpl  --output api-reference/crds.ref.md
  - cmp api-reference/crds.md api-reference/crds.ref.md
  artifacts:
    when: on_failure
    paths:
  ...

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

deploy-theodolite:
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
    IMAGE_NAME: theodolite
    DOCKERFILE: src/main/docker/Dockerfile.jvm
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  ...

Delete depreciated ucXKafkaProperties classes
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc2/hazelcastjet/Uc2KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc3/hazelcastjet/Uc3KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc4/hazelcastjet/Uc4KafkaPropertiesBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Allow to set resources via values.yaml
  helm/templates/kafka/kafka-cluster.yaml
  helm/values.yaml
Due: none

Improve metrics fetcher logging
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/MetricFetcher.kt
Due: deploy-theodolite

Minor code quality improvements
  theodolite/src/main/kotlin/theodolite/benchmark/Action.kt
  theodolite/src/main/kotlin/theodolite/benchmark/ActionCommand.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/BenchmarkStateChecker.kt
  theodolite/src/test/kotlin/theodolite/benchmark/ActionCommandTest.kt
Due: deploy-theodolite

Improve exception message
  theodolite/src/main/kotlin/theodolite/evaluation/MetricFetcher.kt
Due: deploy-theodolite

Apply 1 suggestion(s) to 1 file(s)
  theodolite/src/main/kotlin/theodolite/execution/operator/ClusterSetup.kt
Due: deploy-theodolite

Enhance code quality by only catching specific exception typ
  theodolite/src/main/kotlin/theodolite/execution/operator/ClusterSetup.kt
Due: deploy-theodolite

change patcher signatur and make it possible to multiple resources per name (so, patcher are now able to patch a list of resources)
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/patcher/AbstractPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/DataVolumeLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/EnvVarPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ImagePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/LabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/MatchLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NamePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NodeSelectorPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NumNestedGroupsLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NumSensorsLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/PatchHandler.kt
  theodolite/src/main/kotlin/theodolite/patcher/Patcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/PatcherFactory.kt
  theodolite/src/main/kotlin/theodolite/patcher/ReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ResourceLimitPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ResourceRequestPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/SchedulerNamePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ServiceSelectorPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/TemplateLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/VolumesConfigMapPatcher.kt
  theodolite/src/test/kotlin/theodolite/patcher/AbstractPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/DataVolumeLoadGeneratorReplicaPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/EnvVarPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/ImagePatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/LabelPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/MatchLabelPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/NamePatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/NodeSelectorPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/NumNestedGroupsLoadGeneratorReplicaPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/NumSensorsLoadGeneratorReplicaPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/PatcherDefinitionFactoryTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/PatcherFactoryTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/ReplicaPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/ResourceLimitPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/ResourceRequestPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/SchedulerNamePatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/ServiceSelectorPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/TemplateLabelPatcherTest.kt
  theodolite/src/test/kotlin/theodolite/patcher/VolumesConfigMapPatcherTest.kt
Due: deploy-theodolite

clean up
  theodolite/src/main/kotlin/theodolite/patcher/NamePatcher.kt
Due: deploy-theodolite

Fix Avro coder issue
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/PipelineFactory.java
  theodolite-benchmarks/uc2-beam/src/main/java/rocks/theodolite/benchmarks/uc2/beam/PipelineFactory.java
  theodolite-benchmarks/uc3-beam/src/main/java/rocks/theodolite/benchmarks/uc3/beam/PipelineFactory.java
  theodolite-benchmarks/uc4-beam/src/main/java/rocks/theodolite/benchmarks/uc4/beam/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Configure Content-Type for HTTP load generator
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/HttpRecordSender.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Use GenericKubernetesResource instead of CustomResource<*,*> and clean up
  theodolite/src/main/kotlin/theodolite/patcher/AbstractPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/DataVolumeLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/EnvVarPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ImagePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/LabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/MatchLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NamePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NodeSelectorPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NumNestedGroupsLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NumSensorsLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/Patcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/PatcherFactory.kt
  theodolite/src/main/kotlin/theodolite/patcher/ReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ResourceLimitPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ResourceRequestPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/SchedulerNamePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ServiceSelectorPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/TemplateLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/VolumesConfigMapPatcher.kt
Due: deploy-theodolite

Add DynamoDB sink
  theodolite-benchmarks/uc1-beam/build.gradle
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/SinkType.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/dynamodb/DynamoDbSink.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/dynamodb/PutRequestMapper.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Use simple pipeline with Samza
  theodolite-benchmarks/uc3-beam-samza/src/main/java/rocks/theodolite/benchmarks/uc3/beam/samza/Uc3BeamSamza.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add some log output
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/firestore/FirestoreSink.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Upgrade docs packages
  docs/Gemfile.lock
Due: build-docs, test-docs-links

Upgrade github-pages gem
  docs/Gemfile
  docs/Gemfile.lock
Due: build-docs, test-docs-links

Reduce cluster admin permissions for Helm chart
  helm/templates/prometheus/operator-role-binding.yaml
  helm/templates/prometheus/operator-role.yaml
  helm/templates/prometheus/role-binding.yaml
  helm/templates/prometheus/role.yaml
  helm/values.yaml
Due: none

Add docs on actions, fix #311
  docs/creating-a-benchmark.md
  docs/drafts/actions.md
Due: build-docs, test-docs-links

Release version 0.7.0
  CITATION.cff
  codemeta.json
  docs/index.yaml
  helm/Chart.yaml
  theodolite/README.md
  theodolite/build.gradle
Due: build-docs, test-docs-links, deploy-theodolite

Fix missing configuration option
  theodolite-benchmarks/docker-test/uc1-kstreams/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Docker image names
  theodolite-benchmarks/docker-test/uc1-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix broken Docker tag reference
  theodolite-benchmarks/docker-test/uc1-kstreams/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix wrong main classes
  theodolite-benchmarks/uc2-flink/build.gradle
  theodolite-benchmarks/uc4-flink/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Unify, fix and integrate Hazelcast smoketests
  .gitlab-ci.yml
  theodolite-benchmarks/docker-test/uc1-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-hazelcastjet/test.sh
  theodolite-benchmarks/docker-test/uc2-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Hazelcast references in GitLab CI
  .gitlab-ci.yml
Due: none

Delete accidental change to kstreams
  theodolite-benchmarks/kstreams-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Extend common ConfigurationKeys
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/ConfigurationKeys.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor flink to use AbstractFlinkService
  theodolite-benchmarks/uc1-flink/src/main/java/rocks/theodolite/benchmarks/uc1/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc2-flink/src/main/java/rocks/theodolite/benchmarks/uc2/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/AggregationServiceFlinkJob.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add abstract flink service
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/AbstractFlinkService.java
  theodolite-benchmarks/kstreams-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Codestyle cleanup
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/AbstractFlinkService.java
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/ConfigurationKeys.java
  theodolite-benchmarks/uc1-flink/src/main/java/rocks/theodolite/benchmarks/uc1/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc2-flink/src/main/java/rocks/theodolite/benchmarks/uc2/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc3-flink/src/main/java/rocks/theodolite/benchmarks/uc3/flink/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/AggregationServiceFlinkJob.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor the AbstractFlinkService
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/AbstractFlinkService.java
  theodolite-benchmarks/uc1-flink/src/main/java/rocks/theodolite/benchmarks/uc1/flink/HistoryServiceFlinkJob.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

change rolloutMode to waitForResourcesEnabled flag
  docs/api-reference/crds.md
  theodolite/crd/crd-benchmark.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
  theodolite/src/main/kotlin/theodolite/benchmark/RolloutManager.kt
  theodolite/src/main/kotlin/theodolite/benchmark/RolloutMode.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkCRDummy.kt
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
Due: build-docs, test-docs-links, test-docs-crds-regression, deploy-theodolite

fix typo
  theodolite/src/main/kotlin/theodolite/patcher/AbstractPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/EnvVarPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ImagePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/LabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/MatchLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NamePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NodeSelectorPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NumNestedGroupsLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/NumSensorsLoadGeneratorReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ReplicaPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ResourceLimitPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ResourceRequestPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/SchedulerNamePatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/ServiceSelectorPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/TemplateLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/VolumesConfigMapPatcher.kt
Due: deploy-theodolite

Fix broken address in Helm repository
  docs/index.yaml
Due: build-docs, test-docs-links

Refactor hazelcast jet benchmarks:
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/HazelcastJetService.java
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/PipelineFactory.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/NewHistoryService.java
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/rocks/theodolite/benchmarks/uc1/hazelcastjet/Uc1PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Extend use case hazelcast ConfigurationKeys
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/ConfigurationKeys.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*
