Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq, deploy-buildimage-k3d-helm

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: util/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
  deploy-buildimage-k3d-helm: any of: buildimages/k3d-helm/Dockerfile

Add HotCloudPerf paper to docs
  docs/publications.md
Due: build-docs, test-docs-links

Remove standalone mode references from operator README
  theodolite/README.md
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Release Theodolite v0.10.3
  CITATION.cff
  codemeta.json
  docs/index.yaml
Due: build-docs, test-docs-links

Make UC4 load generator delay configurable.
  theodolite-benchmarks/uc4-load-generator/src/main/java/rocks/theodolite/benchmarks/uc4/loadgenerator/LoadGenerator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Warn on ignored input record
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/JoinAndDuplicateCoFlatMapFunction.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix checkstyle issues
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/JoinAndDuplicateCoFlatMapFunction.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add more logging
  theodolite-benchmarks/uc4-flink/src/main/java/rocks/theodolite/benchmarks/uc4/flink/JoinAndDuplicateCoFlatMapFunction.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add Job and PVC support to resource lifecycle management
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/K8sManager.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ResourceByLabelHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/RolloutManager.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ClusterSetup.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add missing RBACs
  helm/templates/theodolite/role.yaml
Due: lint-helm

Add missing create and update permissions for PVC
  helm/templates/theodolite/role.yaml
Due: lint-helm

Print SLO results maps in Results JSON
  theodolite/src/main/kotlin/rocks/theodolite/core/Results.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remove CI/CD pipelines section from project info documentation (temporarily)
  docs/project-info.md
Due: build-docs, test-docs-links

Fix maintainer's website link
  docs/project-info.md
Due: build-docs, test-docs-links

Fix removing CI/CD pipeline's link
  docs/project-info.md
Due: build-docs, test-docs-links

Update CRD docs
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Remove Kafka topic management
  theodolite/build.gradle
  theodolite/crd/crd-benchmark.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeployment.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/KubernetesBenchmarkDeploymentBuilder.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/kafka/TopicManager.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/crd/KafkaConfig.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/model/crd/BenchmarkCRDummy.kt
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
Due: build-docs-crds, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Minor docs fixes
  docs/creating-a-benchmark.md
Due: build-docs, test-docs-links

Minor fixes to Dynatrace integration
  docs/creating-a-benchmark.md
  docs/example-otel-demo-dynatrace.md
  theodolite/crd/crd-benchmark.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-execution.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-helm-values.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DqlPollResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloChecker.kt
  theodolite/src/main/resources/application.properties
Due: build-docs, test-docs-links, build-docs-crds, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Re-generate CRD docs
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Add support for no errors in example SLI
  theodolite/examples/http-server/example-benchmark.yaml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Introduce HTTP server example as the new default example
  docs/creating-a-benchmark.md
  docs/creating-an-execution.md
  docs/example-http-server.md
  docs/quickstart.md
  docs/running-benchmarks.md
  helm/benchmark-definitions/examples
  theodolite/examples/http-server/README.md
  theodolite/examples/http-server/example-benchmark.yaml
  theodolite/examples/http-server/example-configmap.yaml
  theodolite/examples/http-server/example-execution.yaml
  theodolite/examples/http-server/resources/envoy-configmap.yaml
  theodolite/examples/http-server/resources/http-server-deployment.yaml
  theodolite/examples/http-server/resources/http-server-service-monitor.yaml
  theodolite/examples/http-server/resources/http-server-service.yaml
  theodolite/examples/http-server/resources/load-generator-deployment.yaml
  theodolite/examples/httpbin-envoy/httpbin-envoy-service-monitor.yaml
  theodolite/examples/httpbin-envoy/httpbin-envoy-service.yaml
  theodolite/examples/httpbin-envoy/load-genenerator-deployment.yaml
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-configmap.yaml
  theodolite/examples/operator/example-execution.yaml
  theodolite/examples/resources/uc1-input-topic.yaml
  theodolite/examples/resources/uc1-kstreams-deployment.yaml
  theodolite/examples/resources/uc1-load-generator-deployment.yaml
  theodolite/examples/resources/uc1-load-generator-service.yaml
  theodolite/examples/simple-http-server/README.md
  theodolite/examples/simple-http-server/nginx-benchmark-execution.yaml
  theodolite/examples/simple-http-server/nginx-benchmark.yaml
  theodolite/examples/simple-http-server/resources/load-genenerator-deployment.yaml
  theodolite/examples/simple-http-server/resources/nginx-conf.yaml
  theodolite/examples/simple-http-server/resources/nginx-deployment.yaml
  theodolite/examples/simple-http-server/resources/nginx-log-exporter-config.yaml
  theodolite/examples/simple-http-server/resources/nginx-service-monitor.yaml
  theodolite/examples/simple-http-server/resources/nginx-service.yaml
Due: build-docs, test-docs-links, lint-helm, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add example testing guide with k3d
  docs/development/testing-examples.md
Due: build-docs, test-docs-links

Add draft for additional example based on HTTP servers
  theodolite/examples/httpbin-envoy/envoy-configmap.yaml
  theodolite/examples/httpbin-envoy/httpbin-envoy-deployment.yaml
  theodolite/examples/httpbin-envoy/httpbin-envoy-service-monitor.yaml
  theodolite/examples/httpbin-envoy/httpbin-envoy-service.yaml
  theodolite/examples/httpbin-envoy/load-genenerator-deployment.yaml
  theodolite/examples/simple-http-server/README.md
  theodolite/examples/simple-http-server/nginx-benchmark-execution.yaml
  theodolite/examples/simple-http-server/nginx-benchmark.yaml
  theodolite/examples/simple-http-server/resources/load-genenerator-deployment.yaml
  theodolite/examples/simple-http-server/resources/nginx-conf.yaml
  theodolite/examples/simple-http-server/resources/nginx-deployment.yaml
  theodolite/examples/simple-http-server/resources/nginx-log-exporter-config.yaml
  theodolite/examples/simple-http-server/resources/nginx-service-monitor.yaml
  theodolite/examples/simple-http-server/resources/nginx-service.yaml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix nav order of examples
  docs/example-teastore.md
Due: build-docs, test-docs-links

Fix wrong encoding of complex queries
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DynatraceMetricFetcher.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/DynatraceMetricFetcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcherFactoryTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/PrometheusMetricFetcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/WireMockTestResource.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add docs clarification on Dynatrace SLI scopes
  docs/example-otel-demo-dynatrace.md
  theodolite/examples/otel-demo-dynatrace/README.md
Due: build-docs, test-docs-links, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Use literal block scalar (|) in DQL YAMLs and fail on non-timeseries queries.
  docs/creating-a-benchmark.md
  docs/example-otel-demo-dynatrace.md
  theodolite/examples/otel-demo-dynatrace/otel-demo-benchmark.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DqlPollResponse.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/DqlPollResponseTest.kt
Due: build-docs, test-docs-links, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Replace boolean SLO experiment result with SloExperimentResult enum
  theodolite/src/main/kotlin/rocks/theodolite/core/ExperimentRunner.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/Results.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/SloExperimentResult.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/rocks/theodolite/core/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ExperimentRunnerImpl.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloEvaluator.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/ResultsHelper.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/ResultsTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/core/strategies/restrictionstrategy/LowerBoundRestrictionTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/TestExperimentRunner.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloCheckerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Upgrade to Quarkus 3.8 LTS
  theodolite/build.gradle
  theodolite/gradle.properties
  theodolite/gradle/wrapper/gradle-wrapper.properties
  theodolite/src/main/resources/application.properties
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Extract TheodoliteRunner from TheodoliteController
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunner.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteRunnerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Restore broken .gitlan-ci.yml file
  .gitlab-ci.yml
Due: none

Migrate CI image/tool updates from main into sub-CI files
  docs/.gitlab-ci.yml
  slo-checker/.gitlab-ci.yml
  theodolite-benchmarks/.gitlab-ci.yml
  theodolite/.gitlab-ci.yml
  utils/.gitlab-ci.yml
Due: build-docs, test-docs-links, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Introduce RunnerCoordinator as CDI singleton
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinator.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ControllerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinatorTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix CDI removal of RunnerCoordinator at build time
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinator.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Test that RunnerCoordinator is resolvable as CDI singleton
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/RunnerCoordinatorTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Use packaged operator image in Helm smoketest
  helm/.gitlab-ci.yml
Due: lint-helm

Use packaged benchmark images in smoketests
  theodolite-benchmarks/.gitlab-ci.yml
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Wire passive observational reconcilers with InformerEventSources
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconcilerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Make BenchmarkReconciler the sole writer of BenchmarkState
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkStateChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkStateHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/TheodoliteOperator.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconcilerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkStateCheckerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/operator/ControllerTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite
