Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-random-scheduler

Path conditions:
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

clean up
  theodolite/src/main/kotlin/theodolite/benchmark/ActionCommand.kt
  theodolite/src/main/kotlin/theodolite/benchmark/Resources.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteController.kt
  theodolite/src/main/kotlin/theodolite/execution/operator/TheodoliteOperator.kt
Due: deploy-theodolite

reformat code
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkStateCheckerTest.kt
Due: deploy-theodolite

Enhance tests and code quality
  theodolite/src/main/kotlin/theodolite/benchmark/ActionCommand.kt
  theodolite/src/test/kotlin/theodolite/benchmark/ActionCommandTest.kt
Due: deploy-theodolite

fix bug
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
Due: deploy-theodolite

remove actions from examples and add them to the docs, small fixes
  docs/actions.md
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
Due: deploy-theodolite

Add uncommented ports field for ZooKeeper in Samza
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Cleanup Samza properties files
  theodolite-benchmarks/uc1-beam-samza/samza-standalone.properties
  theodolite-benchmarks/uc2-beam-samza/samza-standalone.properties
  theodolite-benchmarks/uc3-beam-samza/samza-standalone.properties
  theodolite-benchmarks/uc4-beam-samza/samza-standalone.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Revert JobInstance setting
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc2-beam-samza/Dockerfile
  theodolite-benchmarks/uc3-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add environment variables config to beam samza
  theodolite-benchmarks/uc1-beam-samza/samza-standalone.properties
  theodolite-benchmarks/uc2-beam-samza/samza-standalone.properties
  theodolite-benchmarks/uc3-beam-samza/samza-standalone.properties
  theodolite-benchmarks/uc4-beam-samza/samza-standalone.properties
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add MAX_SOURCE_PARALLELISM=1024 as default for samza beam
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc2-beam-samza/Dockerfile
  theodolite-benchmarks/uc3-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Exchange compile with implementation in beam flink
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.flink.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

correct order of actions
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmarkDeployment.kt
Due: deploy-theodolite

enhance action docs, check also statefulsets in benchmarkstatechecker
  docs/actions.md
  theodolite/src/main/kotlin/theodolite/execution/operator/BenchmarkStateChecker.kt
Due: deploy-theodolite

Add beam flink kubernetes resources
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/flink-configuration-configmap.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-rest-service.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-service.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-service.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/uc1-flink-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add beam samza kubernetes resources
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-service.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-jmx-configmap.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-service-monitor.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Task Manager image
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Use same standalone arguments as in Docker Compose
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Disable auto topic creation in Kafka
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-kstreams-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-kstreams-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Disable auto topic creation in Kafka
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Disable Job Manager port expose to avoid collision
  theodolite-benchmarks/docker-test/uc1-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-flink/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-flink/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Disable Job Manager port expose to avoid collision
  theodolite-benchmarks/docker-test/uc1-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-flink-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-flink-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix version in Readme
  theodolite/README.md
Due: deploy-theodolite

Align Docker-Compose files
  theodolite-benchmarks/docker-test/uc1-hazelcastjet-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-hazelcastjet-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-hazelcastjet-docker-compose/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-hazelcastjet-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix PMD issues
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/theodolite/uc1/application/Uc1HazelcastJetFactory.java
  theodolite-benchmarks/uc1-hazelcastjet/src/test/java/theodolite/uc1/application/Uc1PipelineTest.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2HazelcastJetFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/uc2specifics/StatsAccumulatorSerializer.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/uc3specifics/HourOfDayKeySerializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4PipelineBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix checkstyle issue
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4PipelineBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Apply auto code style fixes
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/theodolite/uc1/application/Uc1PipelineBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2HazelcastJetFactory.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2PipelineBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/uc2specifics/StatsAccumulatorSupplier.java
  theodolite-benchmarks/uc3-hazelcastjet/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/HistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/Uc3HazelcastJetFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/Uc3KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/Uc3PipelineBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/uc3specifics/HourOfDayKey.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/uc3specifics/HourOfDayKeySerializer.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/uc3specifics/HoursOfDayKeyFactory.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/uc3specifics/StatsKeyFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/HistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4HazelcastJetFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/ChildParentsTransformer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/EventDeserializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/HashMapSupplier.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/ImmutableSensorRegistryUc4Serializer.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/ValueGroup.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix code style issues
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/theodolite/uc1/application/Uc1PipelineBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2PipelineBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/Uc3PipelineBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/uc3specifics/HoursOfDayKeyFactory.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/HashMapSupplier.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix Gradle issues
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.hazelcastjet.gradle
  theodolite-benchmarks/uc1-hazelcastjet/build.gradle
  theodolite-benchmarks/uc2-hazelcastjet/build.gradle
  theodolite-benchmarks/uc3-hazelcastjet/build.gradle
  theodolite-benchmarks/uc4-hazelcastjet/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove old files
  docs/creating-a-benchmark-old.md
  docs/running-benchmarks-old.md
Due: none

Add extra configOverride for beam samza containers
  theodolite-benchmarks/uc1-beam-samza/Dockerfile
  theodolite-benchmarks/uc2-beam-samza/Dockerfile
  theodolite-benchmarks/uc3-beam-samza/Dockerfile
  theodolite-benchmarks/uc4-beam-samza/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Exchange compile with implementation in beam uc1-4
  theodolite-benchmarks/uc1-beam-flink/build.gradle
  theodolite-benchmarks/uc1-beam-samza/build.gradle
  theodolite-benchmarks/uc2-beam-flink/build.gradle
  theodolite-benchmarks/uc2-beam-samza/build.gradle
  theodolite-benchmarks/uc3-beam-flink/build.gradle
  theodolite-benchmarks/uc3-beam-samza/build.gradle
  theodolite-benchmarks/uc4-beam-flink/build.gradle
  theodolite-benchmarks/uc4-beam-samza/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add beam samza environment vars to docker-compose
  theodolite-benchmarks/docker-test/uc1-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-beam-samza/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-beam-samza/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Replace gradle runtime with runtimeOnly in beam commons
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add draft for home page
  docs/index.md
Due: none

update crd docs
  docs/crd-docu.md
  theodolite/crd/crd-benchmark.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
Due: deploy-theodolite

Execution yaml restructuring, strategy.name indicates strategy type
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/StrategyFactory.kt
  theodolite/src/main/kotlin/theodolite/util/Config.kt
Due: deploy-theodolite

Remove home page notes
  docs/index.md
Due: none

Metric Differentiation, findSuitableLoad implemented for LinearSearch and FullSearch
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/FullSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/LinearSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/RestrictionSearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
Due: deploy-theodolite

Move logos to dedicated directory
  docs/assets/logo/theodolite-horizontal-transparent.svg
  docs/assets/logo/theodolite-stacked-transparent.svg
  docs/index.md
Due: none

Use offical image provided by crdoc
  docs/README.md
Due: none
