Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-uc1-kstreams-app, deploy-uc2-kstreams-app, deploy-uc3-kstreams-app, deploy-uc4-kstreams-app, deploy-uc1-workload-generator, deploy-uc2-workload-generator, deploy-uc3-workload-generator, deploy-uc4-workload-generator, deploy-theodolite

deploy-uc1-kstreams-app:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc1-kstreams-app
    JAVA_PROJECT_NAME: uc1-application
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-uc2-kstreams-app:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc2-kstreams-app
    JAVA_PROJECT_NAME: uc2-application
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-uc3-kstreams-app:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc3-kstreams-app
    JAVA_PROJECT_NAME: uc3-application
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-uc4-kstreams-app:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc4-kstreams-app
    JAVA_PROJECT_NAME: uc4-application
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-uc1-workload-generator:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc1-workload-generator
    JAVA_PROJECT_NAME: uc1-workload-generator
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-uc2-workload-generator:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc2-workload-generator
    JAVA_PROJECT_NAME: uc2-workload-generator
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-uc3-workload-generator:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc3-workload-generator
    JAVA_PROJECT_NAME: uc3-workload-generator
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

deploy-uc4-workload-generator:
  stage: deploy
  tags:
  - exec-dind
  image: docker:19.03.1
  services:
  - docker:19.03.1-dind
  variables:
    DOCKER_TLS_CERTDIR: /certs
    IMAGE_NAME: theodolite-uc4-workload-generator
    JAVA_PROJECT_NAME: uc4-workload-generator
  script:
  - DOCKER_TAG_NAME=$(echo $CI_COMMIT_REF_SLUG- | sed 's/^master-$//')
  ...

fix problem when no configuration parameters are set
  execution/lib/cli_parser.py
Due: deploy-theodolite

add commit ms as default again for kubernetes deployment and overwrite existing env variables
  execution/run_uc.py
  execution/uc-application/base/aggregation-deployment.yaml
Due: deploy-theodolite

Add configuration for processing guarantee
  application-kafkastreams-commons/src/main/java/theodolite/commons/kafkastreams/KafkaStreamsBuilder.java
Due: deploy-uc1-kstreams-app, deploy-uc2-kstreams-app, deploy-uc3-kstreams-app, deploy-uc4-kstreams-app, deploy-uc1-workload-generator, deploy-uc2-workload-generator, deploy-uc3-workload-generator, deploy-uc4-workload-generator

Update docker compose demo scripts for new workload generator
  docker-test/uc1-docker-compose/docker-compose.yml
  docker-test/uc2-docker-compose/docker-compose.yml
  docker-test/uc3-docker-compose/docker-compose.yml
  docker-test/uc4-docker-compose/docker-compose.yml
Due: none

Add comment for service account
  execution/theodolite.yaml
Due: deploy-theodolite

enable setting domain restriction from theodolite.yaml
  execution/lib/cli_parser.py
  execution/theodolite.yaml
Due: deploy-theodolite

enable more safer passing of env variable domain restriction
  execution/lib/cli_parser.py
Due: deploy-theodolite

Restructure and possibility to configure namespace
  execution/infrastructure/random-scheduler/Dockerfile
  execution/infrastructure/random-scheduler/deployment.yaml
  execution/infrastructure/random-scheduler/rbac.yaml
  execution/infrastructure/random-scheduler/schedule.sh
  execution/infrastructure/random-scheduler/test.yaml
  execution/random-scheduler/schedule.sh
Due: deploy-theodolite

Make kubectl run in proxy mode
  execution/infrastructure/random-scheduler/Dockerfile
  execution/infrastructure/random-scheduler/schedule.sh
  execution/infrastructure/random-scheduler/test.yaml
Due: deploy-theodolite

Add RBAC resources
  execution/infrastructure/kubernetes/rbac/role-binding.yaml
  execution/infrastructure/kubernetes/rbac/role.yaml
  execution/infrastructure/kubernetes/rbac/service-account.yaml
Due: deploy-theodolite

Fix paths in GitLab CI file
  benchmarks/.gitlab-ci.yml
Due: none

Add pipeline execution for tags and manual
  .gitlab-ci.yml
Due: none

Let parent pipeline depend on chil pipeline
  .gitlab-ci.yml
Due: none

Avoid creation of detachted pipelines
  .gitlab-ci.yml
Due: none

Remove outdated RBAC comments
  execution/theodolite.yaml
Due: deploy-theodolite

fix division errors for uc2 with largen load dimension
  execution/run_uc.py
Due: deploy-theodolite

enable the reset only option be called on theodolite and from env
  execution/lib/cli_parser.py
  execution/run_uc.py
  execution/theodolite.py
Due: deploy-theodolite

Move eclipse settings
  benchmarks/.settings/org.eclipse.jdt.ui.prefs
  benchmarks/.settings/qa.eclipse.plugin.checkstyle.prefs
  benchmarks/.settings/qa.eclipse.plugin.pmd.prefs
Due: none

Add push to GitHub container registry
  benchmarks/.gitlab-ci.yml
Due: none

Fix image tag
  benchmarks/.gitlab-ci.yml
Due: none

Check that all load and uc pods get deleted
  execution/run_uc.py
Due: deploy-theodolite

Undo changes
  .gitlab-ci.yml
Due: none

Add documentation and change image url
  execution/infrastructure/random-scheduler/README.md
  execution/infrastructure/random-scheduler/deployment.yaml
Due: deploy-theodolite

use github registry container images for UCs
  execution/run_uc.py
Due: deploy-theodolite

use for load generators the github image
  execution/run_uc.py
Due: deploy-theodolite

fix not using a given search strategy
  execution/theodolite.py
Due: deploy-theodolite

add documentation for execution control in job
  execution/README.md
Due: deploy-theodolite

Update documentation to official Confluent Helm
  execution/README.md
Due: deploy-theodolite

Disable auto creation of Kafka topics
  execution/infrastructure/kafka/values.yaml
Due: deploy-theodolite

Enhance documentation
  README.md
  execution/README.md
Due: deploy-theodolite

Add description to use patched Kafka Helm charts
  execution/README.md
Due: deploy-theodolite

Initial thedolite-quarkus project
  theodolite-quarkus/.dockerignore
  theodolite-quarkus/.gitignore
  theodolite-quarkus/README.md
  theodolite-quarkus/build.gradle
  theodolite-quarkus/gradle.properties
  theodolite-quarkus/gradle/wrapper/gradle-wrapper.jar
  theodolite-quarkus/gradle/wrapper/gradle-wrapper.properties
  theodolite-quarkus/gradlew
  theodolite-quarkus/gradlew.bat
  theodolite-quarkus/settings.gradle
  theodolite-quarkus/src/main/docker/Dockerfile.fast-jar
  theodolite-quarkus/src/main/docker/Dockerfile.jvm
  theodolite-quarkus/src/main/docker/Dockerfile.native
  theodolite-quarkus/src/main/kotlin/theodolite/GreetingResource.kt
  theodolite-quarkus/src/main/resources/META-INF/resources/index.html
  theodolite-quarkus/src/main/resources/application.properties
  theodolite-quarkus/src/native-test/kotlin/theodolite/NativeGreetingResourceIT.kt
  theodolite-quarkus/src/test/kotlin/theodolite/GreetingResourceTest.kt
Due: none

Add own main method
  theodolite-quarkus/src/main/kotlin/theodolite/Main.kt
Due: none

Add kubernetes-client to dependecies
  theodolite-quarkus/build.gradle
Due: none

Improve Jupyther documentation
  analysis/README.md
Due: none

Add Docker support for analysis notebooks
  analysis/.dockerignore
  analysis/Dockerfile
  analysis/README.md
Due: none

Add hint on stoping Jupyter server from Docker
  analysis/README.md
Due: none

Continue benchmark in case of analysis failure.
  execution/run_uc.py
  execution/strategies/subexperiment_evaluation/subexperiment_evaluator.py
Due: deploy-theodolite

make more obvious that benchmark continuous
  execution/run_uc.py
  execution/strategies/subexperiment_evaluation/subexperiment_evaluator.py
Due: deploy-theodolite

Path conditions:
  deploy-uc1-kstreams-app: any of: uc1-application/**/*, application-kafkastreams-commons/**/*
  deploy-uc2-kstreams-app: any of: uc2-application/**/*, application-kafkastreams-commons/**/*
  deploy-uc3-kstreams-app: any of: uc3-application/**/*, application-kafkastreams-commons/**/*
  deploy-uc4-kstreams-app: any of: uc4-application/**/*, application-kafkastreams-commons/**/*
  deploy-uc1-workload-generator: any of: uc1-workload-generator/**/*, application-kafkastreams-commons/**/*
  deploy-uc2-workload-generator: any of: uc2-workload-generator/**/*, application-kafkastreams-commons/**/*
  deploy-uc3-workload-generator: any of: uc3-workload-generator/**/*, application-kafkastreams-commons/**/*
  deploy-uc4-workload-generator: any of: uc4-workload-generator/**/*, application-kafkastreams-commons/**/*
  deploy-theodolite: any of: execution/**/*
