Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq, deploy-buildimage-k3d-helm

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: util/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
  deploy-buildimage-k3d-helm: any of: buildimages/k3d-helm/Dockerfile

Integrate with Quarkus application lifecycle
  theodolite/build.gradle
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Main.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Theodolite.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Update permissions for upgraded Kubernetes API
  helm/templates/theodolite/role.yaml
Due: lint-helm

Add paper of Govind KP et al.
  docs/publications.md
Due: build-docs, test-docs-links

Clearify text on publications page
  docs/publications.md
Due: build-docs, test-docs-links

Add capacity metric plot notebook and minor fixes
  analysis/README.md
  analysis/capacity-metric-plot.ipynb
  analysis/demand-metric.ipynb
  analysis/requirements.txt
Due: none

Replace wildcard kafkaConfigs with delete actions
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/uc2-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-flink/uc2-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/uc2-hazelcastjet-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/uc2-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/uc3-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-flink/uc3-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/uc3-hazelcastjet-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/uc3-kstreams-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/uc4-beam-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-flink/uc4-flink-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/uc4-hazelcastjet-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/uc4-kstreams-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Save JSON files with file extension
  theodolite/src/main/kotlin/rocks/theodolite/core/ExecutionRunner.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/TheodoliteExecutor.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Update list of publications
  docs/publications.md
Due: build-docs, test-docs-links

Update publications overview
  docs/publications.md
Due: build-docs, test-docs-links

Update DOI in list of publications
  docs/publications.md
Due: build-docs, test-docs-links

Add "first" and "last" aggregation for generic SLO
  docs/creating-a-benchmark.md
  slo-checker/generic/app/main.py
  slo-checker/generic/app/test.py
Due: build-docs, test-docs-links, test-slo-checker-generic, deploy-slo-checker-generic

Fix broken link
  docs/project-info.md
Due: build-docs, test-docs-links

Add 'true'/'false' operators that ignore threshold
  slo-checker/generic/app/main.py
Due: test-slo-checker-generic, deploy-slo-checker-generic

Make Prometheus step resolution configurable
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/AnalysisExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcher.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcherTest.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix wrongly added brackets
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcher.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix LICENSE file
  LICENSE
Due: none

Fix installation docs for Grafana
  docs/installation.md
Due: build-docs, test-docs-links

Add hints on multiple installations in one cluster
  docs/installation.md
Due: build-docs, test-docs-links

Allow taking more metrics than just the first one
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/AnalysisExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/PrometheusResponse.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/PrometheusResponseTest.kt
  theodolite/src/test/resources/prometheus-response/empty-timeseries.json
  theodolite/src/test/resources/prometheus-response/multi-timeseries.json
  theodolite/src/test/resources/prometheus-response/single-timeseries-nomillis.json
  theodolite/src/test/resources/prometheus-response/single-timeseries.json
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add ShuffleBench paper from SSP 2023 to list of publications
  docs/publications.md
Due: build-docs, test-docs-links

Update Grafana dashboards to new timeseries plugin
  helm/templates/grafana/dashboard-config-map.yaml
Due: lint-helm

Add pullPolicy configuration for image patcher
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/ImagePatcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/PatcherFactory.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix paths in TeaStore example
  docs/example-teastore.md
  docs/publications.md
Due: build-docs, test-docs-links

Use better maintained JMX Exporter image
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc1-hazelcastjet/resources/uc1-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc1-kstreams/resources/uc1-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/resources/uc2-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc2-kstreams/resources/uc2-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/resources/uc3-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/resources/uc3-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc3-kstreams/resources/uc3-kstreams-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/resources/uc4-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/resources/uc4-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc4-kstreams/resources/uc4-kstreams-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Unset restrictions in Kafka JVM options
  helm/values.yaml
Due: lint-helm

Introduce Java Operator SDK
  theodolite/build.gradle
  theodolite/gradle.properties
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/BenchmarkReconciler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/operator/ExecutionReconciler.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add ShuffleBench papers to list of publications
  docs/publications.md
Due: build-docs, test-docs-links

Fix minor typo in CRD descriptions
  theodolite/crd/crd-benchmark.yaml
Due: build-docs-crds, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Update CRD docs for changed descriptions
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Fix broken link to SSP22 slides
  docs/example-teastore.md
Due: build-docs, test-docs-links

Support rack-awareness in Strimzi
  helm/templates/kafka/kafka-cluster.yaml
Due: lint-helm

Update scikit-learn
  analysis/requirements.txt
Due: none

Update Jupyter notebooks and dependencies
  analysis/Dockerfile
  analysis/README.md
  analysis/lag-trend-graph.ipynb
  analysis/requirements.txt
Due: none

Minor code cleanup
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/BenchmarkExecution.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add newly published papers
  docs/publications.md
Due: build-docs, test-docs-links

Upgrade to Strimzi 0.38
  helm/Chart.yaml
Due: lint-helm

Allow configuring Kafka image
  helm/templates/kafka/kafka-cluster.yaml
Due: lint-helm

Fix broken links to contributors
  docs/project-info.md
Due: build-docs, test-docs-links

Ignore ACM DOI links in docs check
  .gitlab-ci.yml
  docs/README.md
Due: build-docs, test-docs-links
