Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, build-docs-crds, lint-helm, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic, deploy-random-scheduler, deploy-buildimage-docker-compose-jq, deploy-buildimage-k3d-helm

build-docs:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: build
  script: bundle exec jekyll build
  artifacts:
    paths:
    - docs/_site

test-docs-links:
  image: alpine/bundle:3.0.3
  cache:
    paths:
    - docs/vendor
  before_script:
  - cd docs
  - bundle config set --local path 'vendor'
  - bundle install
  stage: test
  needs:
  - build-docs
  script: bundle exec htmlproofer --assume-extension --allow_hash_href --http-status-ignore 999 ./_site

build-docs-crds:
  stage: build
  image:
    name: ghcr.io/fybrik/crdoc:0.6.2
    entrypoint:
    - ''
  script: /crdoc --resources theodolite/crd/ --template docs/api-reference/crds.tmpl --output docs/api-reference/crds.ref.md
  artifacts:
    paths:
    - docs/api-reference/crds.ref.md
    expire_in: 1 week

lint-helm:
  stage: check
  needs: []
  image:
    name: alpine/helm:3.5.2
    entrypoint:
    - ''
  script: helm lint helm/

build-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: build
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
  ...

test-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: test
  needs:
  - build-benchmarks
  script: ./gradlew test --continue
  artifacts:
  ...

checkstyle-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

pmd-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

spotbugs-benchmarks:
  image: openjdk:11-jdk
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite-benchmarks
  stage: check
  needs:
  - build-benchmarks
  - test-benchmarks
  ...

build-theodolite-jvm:
  image:
    name: ghcr.io/graalvm/native-image:ol8-java17-22.3.3
    entrypoint:
    - ''
  variables:
    GRADLE_OPTS: -Dorg.gradle.daemon=false
  cache:
    paths:
    - .gradle/wrapper
    - .gradle/caches
  before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle
  - cd theodolite
  stage: build
  ...

Fix failing build of docker-compose build image
  .gitlab-ci.yml
  buildimages/README.md
  buildimages/docker-compose-jq/Dockerfile
Due: deploy-buildimage-docker-compose-jq

Upgrade docs dependencies
  docs/Gemfile.lock
Due: build-docs, test-docs-links

Update docs creation for Ruby >=3.1
  .gitlab-ci.yml
  docs/Gemfile.lock
Due: build-docs, test-docs-links

Fix CI after htmlproofer update
  .gitlab-ci.yml
Due: none

Add hint on Ruby >=3.1
  docs/README.md
Due: build-docs, test-docs-links

Fix documentation of SLO checkers
  slo-checker/generic/README.md
  slo-checker/generic/app/main.py
  slo-checker/record-lag/README.md
  slo-checker/record-lag/app/main.py
Due: test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic

Renovate SLO checker
  .gitlab-ci.yml
  slo-checker/generic/Dockerfile
  slo-checker/generic/README.md
  slo-checker/generic/app/main.py
  slo-checker/generic/app/test.py
  slo-checker/generic/requirements.txt
  slo-checker/record-lag/Dockerfile
  slo-checker/record-lag/README.md
  slo-checker/record-lag/app/main.py
  slo-checker/record-lag/app/test.py
  slo-checker/record-lag/app/trend_slope_computer.py
  slo-checker/record-lag/requirements.txt
Due: test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic

Improve generic SLO checker documentation
  slo-checker/generic/README.md
Due: test-slo-checker-generic, deploy-slo-checker-generic

Fix README typos
  analysis/README.md
Due: none

Use HTTPS in docs
  docs/_config.yml
  docs/publications.md
Due: build-docs, test-docs-links

Use HTTPS in docs
  docs/project-info.md
Due: build-docs, test-docs-links

Check DOIs links by using a trick
  .gitlab-ci.yml
Due: none

Update docs' Gemfile.lock
  docs/Gemfile.lock
Due: build-docs, test-docs-links

Remove last mentioning of standalone mode in docs
  docs/installation.md
Due: build-docs, test-docs-links

Deprecate standalone mode and make operator mode the new default
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Configuration.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/ExecutionModes.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/Theodolite.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add comprehensive test coverage for SLO checker and analysis modules
  TEST_COVERAGE_IMPROVEMENTS.md
  analysis/src/test_demand.py
  slo-checker/generic/app/test.py
  slo-checker/record-lag/app/test.py
  slo-checker/record-lag/app/test_trend_slope_computer.py
  test_runner.py
  theodolite-benchmarks/uc4-kstreams/src/test/java/rocks/theodolite/benchmarks/uc4/kstreams/RecordAggregatorTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, test-slo-checker-lag-trend, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-generic

added dql support, metric fetcher refactoring, moved config for query url and offset to environment variables
  theodolite/build.gradle
  theodolite/crd/crd-benchmark.yaml
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-execution.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/model/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/AnalysisExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcher.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/PrometheusResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloChecker.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloConfigHandler.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/SloJson.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/ExternalSloCheckerTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/MetricFetcherTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/SloCheckerFactoryTest.kt
  theodolite/src/test/kotlin/rocks/theodolite/kubernetes/slo/SloFactoryTest.kt
Due: build-docs-crds, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

added dql support, metric fetcher refactoring, moved config for query url and offset to environment variables
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DQLPollResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DQLRequestExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricQueryResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricQueryResponseFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricRequestExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricRequestExecutorFactory.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/PrometheusRequestExecutor.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remove standalone example
  theodolite/examples/standalone/example-benchmark.yaml
  theodolite/examples/standalone/example-execution.yaml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remove source remaining references to Titan CCP
  theodolite-benchmarks/beam-commons/build.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.hazelcastjet.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.kstreams.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.load-generator.gradle
  theodolite-benchmarks/commons/build.gradle
  theodolite-benchmarks/flink-commons/build.gradle
  theodolite-benchmarks/flink-commons/src/main/java/rocks/theodolite/benchmarks/commons/flink/AbstractFlinkService.java
  theodolite-benchmarks/hazelcastjet-commons/build.gradle
  theodolite-benchmarks/hazelcastjet-commons/src/main/java/rocks/theodolite/benchmarks/commons/hazelcastjet/HazelcastJetService.java
  theodolite-benchmarks/http-bridge/build.gradle
  theodolite-benchmarks/kstreams-commons/build.gradle
  theodolite-benchmarks/load-generator-commons/build.gradle
  theodolite-benchmarks/uc1-commons/build.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Align Theodolite example with UC1 K'Streams
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-configmap.yaml
  theodolite/examples/resources/uc1-input-topic.yaml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add DOI in publication
  docs/publications.md
Due: build-docs, test-docs-links

Remove kafkaCOnfig from documentation
  docs/creating-a-benchmark.md
Due: build-docs, test-docs-links

Update some links
  docs/project-info.md
Due: build-docs, test-docs-links

Remove Grafana Helm chart dependency
  helm/Chart.yaml
  helm/values.yaml
Due: lint-helm

Add "trend" as an aggregation metric for the generic SLO checker. Fix #421
  slo-checker/generic/app/main.py
  slo-checker/generic/app/test.py
  slo-checker/generic/requirements.txt
Due: test-slo-checker-generic, deploy-slo-checker-generic

Disable Hazelcast benchmarks in Kafka-less deployment
  helm/preconfigs/kafka-less.yaml
Due: lint-helm

Add basic structure for demo based on the OTel demo and Dynatrace
  theodolite/examples/otel-demo-dynatrace/README.md
  theodolite/examples/otel-demo-dynatrace/frontend-deployment.yaml
  theodolite/examples/otel-demo-dynatrace/load-generator-deployment.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-benchmark.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-execution.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-helm-values.yaml
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Remove Grafana helm chart mentioning in docs
  helm/README.md
Due: lint-helm

Finish reworking patcher documentation
  docs/api-reference/patchers.md
Due: build-docs, test-docs-links

Add hint in docs on Kafka-less installation
  docs/installation.md
Due: build-docs, test-docs-links

Add hint on trend aggregation in docs (#421)
  docs/creating-a-benchmark.md
Due: build-docs, test-docs-links

Update maintainer information
  helm/Chart.yaml
Due: lint-helm

Release Theodolite version 0.10.0
  CITATION.cff
  codemeta.json
  docs/index.yaml
  helm/Chart.yaml
  theodolite/README.md
  theodolite/build.gradle
Due: build-docs, test-docs-links, lint-helm, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

fixed timeframe, changed to dql example
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-benchmark.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-execution.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DQLPollResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DQLRequestExecutor.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

renamed files
  theodolite/examples/otel-demo-dynatrace/otel-demo-execution.yaml
  theodolite/examples/otel-demo-dynatrace/otel-demo-helm-values.yaml
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DqlPollResponse.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/DqlRequestExecutor.kt
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/slo/MetricRequestExecutorFactory.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Fix setting results access sidecar image twice
  helm/templates/theodolite/theodolite-operator.yaml
Due: lint-helm

Remove unused parameters
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/AbstractStringPatcher.kt
Due: build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Add support for factors, prefix and suffix on GenericPatchers
  docs/api-reference/patchers.md
  theodolite/src/main/kotlin/rocks/theodolite/kubernetes/patcher/PatcherFactory.kt
Due: build-docs, test-docs-links, build-theodolite-jvm, build-theodolite-native, test-theodolite, deploy-theodolite

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  build-docs-crds: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  lint-helm: any of: helm/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  build-theodolite-jvm: any of: theodolite/**/*
  build-theodolite-native: any of: theodolite/**/*
  test-theodolite: any of: theodolite/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: util/random-scheduler/**/*
  deploy-buildimage-docker-compose-jq: any of: buildimages/docker-compose-jq/Dockerfile
  deploy-buildimage-k3d-helm: any of: buildimages/k3d-helm/Dockerfile
