Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

Run duplicate pipelines for protected branches
  .gitlab-ci.yml
Due: none

Add hint on running all smoketests in Readme
  theodolite-benchmarks/docker-test/README.md
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Finished capacity metric support for search strategies
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/PrevResourceMinGuess.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/SearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/util/Results.kt
  theodolite/src/test/resources/k8s-resource-files/test-execution.yaml
Due: test-docs-crds-regression, deploy-theodolite

Extend install-configmaps for benchmark operator
  theodolite-benchmarks/definitions/install-configmaps.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Change uc-application to uc1-samza in uc1-beam-samza-benchmark
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add uc2-beam-samza benchmark resources
  theodolite-benchmarks/definitions/uc2-beam-samza/infrastructure/kafka-client.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-service.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-service-monitor.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add uc1-beam-samza benchmark
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove kafka-client from install-configmaps
  theodolite-benchmarks/definitions/install-configmaps.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add beam-uc2-flink benchmark
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/flink-configuration-configmap.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/jobmanager-rest-service.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/jobmanager-service.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/taskmanager-service.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/uc2-beam-flink-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add beam flink benchmark uc3
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/flink-configuration-configmap.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/jobmanager-rest-service.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/jobmanager-service.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/taskmanager-service.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/uc3-beam-flink-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Corrected beam flink benchmark resources images
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/taskmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Corrected beam samza benchmark images
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove uneccesarry infrastructure
  theodolite-benchmarks/definitions/uc2-beam-samza/infrastructure/kafka-client.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add beam flink uc4 benchmark
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/flink-configuration-configmap.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/jobmanager-rest-service.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/jobmanager-service.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/taskmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/taskmanager-service.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/uc4-beam-flink-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Remove jmx port and service from uc1+2 beam samza benchmark
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/beam-samza-service.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/resources/uc1-jmx-configmap.yaml
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/beam-samza-service.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/resources/uc2-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add uc3 beam samza benchmark
  theodolite-benchmarks/definitions/uc3-beam-samza/resources/beam-samza-service.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/resources/uc3-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-samza/uc3-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add uc4 beam samza benchmark
  theodolite-benchmarks/definitions/uc4-beam-samza/resources/beam-samza-service.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/resources/service-monitor.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/resources/uc4-beam-samza-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-samza/uc4-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Move Tests into source/java folder uc3 + 4
  theodolite-benchmarks/uc3-hazelcastjet/src/test/java/theodolite/uc3/application/Uc3PipelineTest.java
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/theodolite/uc4/application/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add clear shutdown log
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/theodolite/uc4/application/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add JunitTestPlatform to HazelcastJet benchmarks
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.hazelcastjet.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add test engine
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.hazelcastjet.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix action command in uc1-beam-samza
  theodolite-benchmarks/definitions/uc1-beam-samza/uc1-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Move uc2 test to the correct folder
  theodolite-benchmarks/uc2-hazelcastjet/src/test/java/theodolite/uc2/application/Uc2PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Change exception logging of HistoryServices
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/theodolite/uc1/application/HistoryService.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/HistoryService.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/HistoryService.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/HistoryService.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Finish essential parts of HTTP bridge
  theodolite-benchmarks/http-bridge/build.gradle
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/Deserializer.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/Endpoint.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/EnvVarHttpBridgeFactory.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/GsonDeserializer.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/HttpBridge.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/JavalinWebServer.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add initial draft of HTTP bridge
  theodolite-benchmarks/http-bridge/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/http-bridge/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/http-bridge/.settings/qa.eclipse.plugin.pmd.prefs
  theodolite-benchmarks/http-bridge/build.gradle
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/Deserializer.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/Endpoint.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/GsonDeserializer.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/HttpBridge.java
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/JavalinWebServer.java
  theodolite-benchmarks/settings.gradle
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add image step for HTTP Bridge, fix #342
  .gitlab-ci.yml
  theodolite-benchmarks/http-bridge/Dockerfile
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add basic logging to HTTP bridge
  theodolite-benchmarks/http-bridge/src/main/java/theodolite/commons/httpbridge/JavalinWebServer.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Introduce generic interface for database storage
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.beam.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.flink.gradle
  theodolite-benchmarks/buildSrc/src/main/groovy/theodolite.kstreams.gradle
  theodolite-benchmarks/settings.gradle
  theodolite-benchmarks/uc1-beam/build.gradle
  theodolite-benchmarks/uc1-beam/src/main/java/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/LogKeyValue.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/MapToGson.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/WriterAdapter.java
  theodolite-benchmarks/uc1-commons/.settings/org.eclipse.jdt.ui.prefs
  theodolite-benchmarks/uc1-commons/.settings/qa.eclipse.plugin.checkstyle.prefs
  theodolite-benchmarks/uc1-commons/.settings/qa.eclipse.plugin.pmd.prefs
  theodolite-benchmarks/uc1-commons/build.gradle
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/DatabaseAdapter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/DatabaseWriter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/RecordConverter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/logger/JsonConverter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/logger/LogWriter.java
  theodolite-benchmarks/uc1-commons/src/main/java/rocks/theodolite/benchmarks/uc1/commons/logger/LogWriterFactory.java
  theodolite-benchmarks/uc1-flink/build.gradle
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/GsonMapper.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/HistoryServiceFlinkJob.java
  theodolite-benchmarks/uc1-flink/src/main/java/theodolite/uc1/application/WriterAdapter.java
  theodolite-benchmarks/uc1-kstreams/build.gradle
  theodolite-benchmarks/uc1-kstreams/src/main/java/theodolite/uc1/streamprocessing/TopologyBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix PMD warnings
  theodolite-benchmarks/uc1-beam/src/main/java/application/ConverterAdapter.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/WriterAdapter.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add addional patcher to make it possible to set matchlabels
  theodolite/src/main/kotlin/theodolite/patcher/MatchLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/PatcherFactory.kt
  theodolite/src/main/kotlin/theodolite/patcher/TemplateLabelPatcher.kt
Due: deploy-theodolite

Add documentation for the *label patcher
  docs/api-reference/patchers.md
  theodolite/src/main/kotlin/theodolite/patcher/MatchLabelPatcher.kt
  theodolite/src/main/kotlin/theodolite/patcher/TemplateLabelPatcher.kt
Due: build-docs, test-docs-links, deploy-theodolite

spell check
  docs/api-reference/patchers.md
Due: build-docs, test-docs-links

Simplified Results, added optimalInstances map and expanded Result tests
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/main/kotlin/theodolite/strategies/restriction/LowerBoundRestriction.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
  theodolite/src/main/kotlin/theodolite/util/Results.kt
  theodolite/src/test/kotlin/theodolite/strategies/restriction/LowerBoundRestrictionTest.kt
  theodolite/src/test/kotlin/theodolite/util/ResultsTest.kt
Due: deploy-theodolite

Add strimzi kafka
  helm/Chart.yaml
  helm/templates/prometheus/prometheus.yaml
  helm/templates/strimzi/kafka-cluster.yaml
  helm/templates/strimzi/kafka-config.yaml
  helm/templates/strimzi/kafka-exporter-podmonitor.yaml
  helm/templates/strimzi/kafka-podmonitor.yaml
  helm/values.yaml
Due: none

Add strimzi
  helm/Chart.yaml
Due: none

Set evrsion to v0.6.3
  helm/values.yaml
Due: none

Update hazelcastjet uc1 docker-compose
  theodolite-benchmarks/docker-test/uc1-hazelcastjet-docker-compose/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

add support for podmonitors
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/AbstractK8sLoader.kt
  theodolite/src/main/kotlin/theodolite/k8s/resourceLoader/K8sResourceLoader.kt
Due: deploy-theodolite
