Repository cau-se/theodolite: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-docs, test-docs-links, test-docs-crds-regression, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks, deploy-theodolite, test-slo-checker-lag-trend, test-slo-checker-dropped-records-kstreams, test-slo-checker-generic, deploy-slo-checker-lag-trend, deploy-slo-checker-dropped-records-kstreams, deploy-slo-checker-generic, deploy-random-scheduler

Path conditions:
  build-docs: any of: docs/**/*
  test-docs-links: any of: docs/**/*
  test-docs-crds-regression: any of: docs/api-reference/crds.tmpl, theodolite/crd/**/*
  build-benchmarks: any of: theodolite-benchmarks/**/*
  test-benchmarks: any of: theodolite-benchmarks/**/*
  checkstyle-benchmarks: any of: theodolite-benchmarks/**/*
  pmd-benchmarks: any of: theodolite-benchmarks/**/*
  spotbugs-benchmarks: any of: theodolite-benchmarks/**/*
  deploy-theodolite: any of: theodolite/**/*
  test-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  test-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  test-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-slo-checker-lag-trend: any of: slo-checker/record-lag/**/*
  deploy-slo-checker-dropped-records-kstreams: any of: slo-checker/dropped-records/**/*
  deploy-slo-checker-generic: any of: slo-checker/generic/**/*
  deploy-random-scheduler: any of: execution/infrastructure/random-scheduler/**/*

Fix code quality issues
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractBeamService.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipeline.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipelineFactory.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/BeamService.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc2-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc3-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc4-beam-samza/src/main/java/application/Uc4BeamSamza.java
  theodolite-benchmarks/uc4-beam/src/main/java/application/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Create template for new Beam framework
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractBeamService.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipeline.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/AbstractPipelineFactory.java
  theodolite-benchmarks/beam-commons/src/main/java/theodolite/commons/beam/BeamService.java
  theodolite-benchmarks/uc1-beam-flink/build.gradle
  theodolite-benchmarks/uc1-beam-flink/src/main/java/application/Uc1BeamFlink.java
  theodolite-benchmarks/uc1-beam-samza/src/main/java/application/Uc1BeamSamza.java
  theodolite-benchmarks/uc1-beam-samza/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc1-beam/src/main/java/application/AbstractPipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/PipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/Uc1BeamPipeline.java
  theodolite-benchmarks/uc1-beam/src/main/resources/META-INF/application.properties
  theodolite-benchmarks/uc2-beam-flink/src/main/java/application/Uc2BeamFlink.java
  theodolite-benchmarks/uc2-beam-samza/src/main/java/application/Uc2BeamSamza.java
  theodolite-benchmarks/uc2-beam/src/main/java/application/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Draft for new service and pipeline factory
  theodolite-benchmarks/uc1-beam/src/main/java/application/AbstractPipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/application/BeamService.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix typo in ConfigMap names
  helm/values.yaml
Due: none

Remove commented out code
  theodolite-benchmarks/definitions/uc2-beam-samza/uc2-beam-samza-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Exchange put with setProperty
  theodolite-benchmarks/uc1-hazelcastjet/src/main/java/theodolite/uc1/application/Uc1KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc2-hazelcastjet/src/main/java/theodolite/uc2/application/Uc2KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc3-hazelcastjet/src/main/java/theodolite/uc3/application/Uc3KafkaPropertiesBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4KafkaPropertiesBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Changed docker test diretory name
  theodolite-benchmarks/docker-test/uc1-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc1-hazelcastjet/test.sh
  theodolite-benchmarks/docker-test/uc2-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc2-hazelcastjet/test.sh
  theodolite-benchmarks/docker-test/uc3-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc3-hazelcastjet/test.sh
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/docker-compose.yml
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/test.sh
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add a few comments
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/PipelineFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add combine and deduct function to aggregator
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/AggregatedActivePowerRecordAccumulator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix outdated package names
  theodolite-benchmarks/definitions/uc1-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc2-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc3-beam-flink/resources/jobmanager-deployment.yaml
  theodolite-benchmarks/definitions/uc4-beam-flink/resources/jobmanager-deployment.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix link in docs
  docs/theodolite-benchmarks/load-generator.md
Due: build-docs, test-docs-links

Change output + Refactoring + Set id
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/Uc4PipelineBuilder.java
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/AggregatedActivePowerRecordAccumulator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor and add small test uc4-hazelcastjet
  theodolite-benchmarks/uc4-hazelcastjet/src/test/java/theodolite/uc4/application/Uc4PipelineTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix checkstyle coloum to long
  theodolite-benchmarks/uc4-hazelcastjet/src/main/java/theodolite/uc4/application/uc4specifics/AggregatedActivePowerRecordAccumulator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Finished SLOFactory, constructing SLOs from Benchmark and Execution yaml
  theodolite/examples/operator/example-benchmark.yaml
  theodolite/examples/operator/example-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/SloFactory.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/BenchmarkCRDummy.kt
  theodolite/src/test/resources/k8s-resource-files/test-benchmark.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution-1.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution-update.yaml
  theodolite/src/test/resources/k8s-resource-files/test-execution.yaml
Due: deploy-theodolite

Updated CRD API reference page
  docs/api-reference/crds.md
Due: build-docs, test-docs-links

Allow disabling DNS caching
  docs/theodolite-benchmarks/load-generator.md
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/ConfigurationKeys.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/EnvVarLoadGeneratorFactory.java
Due: build-docs, test-docs-links, build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix checkstyle issue
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/EnvVarLoadGeneratorFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add Helm option to use TopicOperator
  helm/templates/kafka/kafka-cluster.yaml
  helm/values.yaml
Due: none

Fix bug in disabled Hazelcast discovery
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/HazelcastRunner.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add support for more instances than keys
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/KeySpace.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/WorkloadDefinition.java
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/KeySpaceTest.java
  theodolite-benchmarks/load-generator-commons/src/test/java/rocks/theodolite/benchmarks/loadgenerator/WorkloadDefinitionTest.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Fix syntax error in template
  helm/templates/kafka/kafka-cluster.yaml
Due: none

Fix broken path to main class
  theodolite-benchmarks/uc1-kstreams/src/main/java/rocks/theodolite/benchmarks/uc1/kstreams/HistoryService.java
  theodolite-benchmarks/uc1-kstreams/src/main/java/rocks/theodolite/benchmarks/uc1/kstreams/TopologyBuilder.java
  theodolite-benchmarks/uc1-kstreams/src/main/java/rocks/theodolite/benchmarks/uc1/kstreams/Uc1KafkaStreamsBuilder.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Closes #356
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
Due: deploy-theodolite

Incorporated feedback from meeting and implemented TestCase for SLOFactory
  docs/api-reference/crds.md
  theodolite/crd/crd-execution.yaml
  theodolite/src/main/kotlin/theodolite/benchmark/BenchmarkExecution.kt
  theodolite/src/main/kotlin/theodolite/benchmark/KubernetesBenchmark.kt
  theodolite/src/main/kotlin/theodolite/benchmark/Slo.kt
  theodolite/src/main/kotlin/theodolite/evaluation/AnalysisExecutor.kt
  theodolite/src/main/kotlin/theodolite/evaluation/SloConfigHandler.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutor.kt
  theodolite/src/main/kotlin/theodolite/execution/BenchmarkExecutorImpl.kt
  theodolite/src/main/kotlin/theodolite/execution/SloFactory.kt
  theodolite/src/main/kotlin/theodolite/execution/TheodoliteExecutor.kt
  theodolite/src/test/kotlin/theodolite/CompositeStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/InitialGuessSearchStrategyTest.kt
  theodolite/src/test/kotlin/theodolite/TestBenchmarkExecutorImpl.kt
  theodolite/src/test/kotlin/theodolite/execution/operator/SloFactoryTest.kt
Due: build-docs, test-docs-links, test-docs-crds-regression, deploy-theodolite

Set connection timeout and fix async bug
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/HttpRecordSender.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Send HTTP sync per default
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/ConfigurationKeys.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/EnvVarLoadGeneratorFactory.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/HttpRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/LoadGenerator.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Update docs for `HTTP_ASYNC` option
  docs/theodolite-benchmarks/load-generator.md
Due: build-docs, test-docs-links

Refine logging
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/EnvVarLoadGeneratorFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor KafkaRecordSender to support other types
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/KafkaRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/TitanKafkaSenderFactory.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Refactor KafkaRecordSender to prepare for PubSubLite extension
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/KafkaRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/KafkaRecordSenderImpl.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Avoid kubectl warning, fix #348
  docs/running-benchmarks.md
Due: build-docs, test-docs-links

Improve options to kill load generator, fix #324
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/EnvVarLoadGeneratorFactory.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/GeneratorAction.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/GeneratorActionImpl.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/HazelcastRunner.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/HazelcastRunnerStateInstance.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/KafkaRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/KafkaRecordSenderImpl.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/LoadGenerator.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/LoadGeneratorConfig.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/PubSubRecordSender.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/RecordGenerator.java
  theodolite-benchmarks/load-generator-commons/src/main/java/rocks/theodolite/benchmarks/loadgenerator/RecordSender.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Update just-the-docs remote theme location
  docs/_config.yml
Due: build-docs, test-docs-links

Create firestore specific pipeline options
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/PipelineFactory.java
  theodolite-benchmarks/uc1-beam/src/main/java/rocks/theodolite/benchmarks/uc1/beam/firestore/FirestoreOptionsExpander.java
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Improve code readability
  theodolite/src/main/kotlin/theodolite/benchmark/ConfigMapResourceSet.kt
Due: deploy-theodolite

Fixed Binary Search Capacity Metric
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/BinarySearch.kt
  theodolite/src/main/kotlin/theodolite/strategies/searchstrategy/InitialGuessSearchStrategy.kt
Due: deploy-theodolite

Update hazelcastjet benchmark resourcess
  theodolite-benchmarks/definitions/install-configmaps.sh
  theodolite-benchmarks/definitions/uc1-hazelcastjet/resources/uc1-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc1-hazelcastjet/uc1-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/resources/uc2-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc2-hazelcastjet/uc2-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/resources/uc3-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc3-hazelcastjet/uc3-benchmark-operator.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/resources/uc4-hazelcastjet-deployment.yaml
  theodolite-benchmarks/definitions/uc4-hazelcastjet/uc4-benchmark-operator.yaml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Adjust hzj uc4 docker-compose image name
  theodolite-benchmarks/docker-test/uc4-hazelcastjet/docker-compose.yml
Due: build-benchmarks, test-benchmarks, checkstyle-benchmarks, pmd-benchmarks, spotbugs-benchmarks

Add strimzi minimal configs for helm
  helm/preconfigs/minimal.yaml
Due: none
